#subtab-AdminJmspagebuilderHomepages .material-icons:before { font-family: "Material Icons"; content: "grade"; font-feature-settings: 'liga'; }
#subtab-AdminJmspagebuilderSetting .material-icons:before { font-family: "Material Icons"; content: "settings"; font-feature-settings: 'liga'; }
