<form action="?controller=AdminNirnou&token={$token}" method="post">
<table width="100%" cellpadding="5" cellspacing="5">
    <tr bgcolor="#e3f1fe">
       <td style="padding:10px;">
          Furnizor 
          {$furnizori}
          &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
          Factura nr.
          <input type="text" name="facnr" value="{$nrfactura}" size="20"/>
          &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
          Serie
          <input type="text" name="serie" value="{$serie}" size="20"/>
          &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
          Data
          <input type="text" name="datanir" value="{$data_nir}" size="14"/>
          &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
          <input type="submit" name="savenir" value="Salveaza DATE" />
       </td>
    </tr>
</table>
</form>

<br /><br />

<table cellpadding="2" cellspacing="0" width="100%">
<tr bgcolor="#aacbef" style="font-weight:bold;">
<td width="50">Nr.Crt.</td>
<td width="250">Produs</td>
<td width="100" align="right">Cantitate</td>
<td width="50" align="right">UM</td>
<td width="150" align="right">P Intrare fara tva</td>
<td width="100" align="right">Valoare</td>
<td width="50" align="right">TVA</td>
<td width="100" align="right">Pret cu TVA</td>
<td width="100" align="right">Valoare(total)</td>
<td width="50" align="center">Sterge</td>
</tr>
<tr><td colspan="10">&nbsp;</td></tr>


{$produsenir}


<tr>
<td colspan="2" align="left"><input type="button" value="Lista NIR-uri" onclick="location.href='?controller=AdminNiruri'" /></td>
<td colspan="8" align="right">
<input type="button" name="prints" value="Printeaza NIR" onclick="location.href='/printareposta/printare_nir.php?nir={$id}'"/>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
<form action="?controller=AdminNirnou&token={$token}" method="post" style="display:inline-block;">
  <input type="hidden" name="sfaratva" value="{$sfaratva}" />
  <input type="hidden" name="nirid" value="{$id}" />
  <input type="submit" name="salveazanir" value="SALVEAZA NIR"/></form>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
</td>
</tr>
</table>