/**
 * @package Jms Drop Megamenu
 * @version 1.0
 * @Copyright (C) 2009 - 2013 Joommasters.
 * @license http://www.gnu.org/licenses/gpl-2.0.html GNU/GPL
 * @Website: http://www.joommasters.com
**/
.jms-megamenu img {
	max-width:100%;
}
.jms-megamenu .nav > li {    
    display: inline-block;
}	
.jms-megamenu .nav > li > a > .caret {
	display:none;
}
.jms-megamenu .nav  a, 
.jms-megamenu .nav  a:hover, 
.jms-megamenu .nav  a:focus {
	background-color:transparent;
}

.jms-megamenu .dropdown-menu.fullwidth {
	width:100%;
}
.jms-megamenu .row+ .row {    
    padding-top: 10px;
}
.jms-megamenu .row .mega-inner {    
    border-radius: 0;
	
}
.jms-megamenu .mega-inner {    
}
.jms-megamenu .mega-nav, .jms-megamenu  .dropdown-menu .mega-nav {
    list-style: outside none none;
    margin: 0;
    padding: 0;
	min-height:20px;
}

.jms-megamenu .mega-nav li > a, .jms-megamenu .mega-nav li > span {
    background: #fff none repeat scroll 0 0;    
    border-radius: 0;
    color: #555;
    font-size: 12px;    
	display:block;	
	text-decoration:none;
	text-transform:uppercase;
}
.jms-megamenu .mega-nav li {
    line-height:36px;
}
.jms-megamenu .mega-nav li:last-child {
	margin-bottom:0px;
}
.jms-megamenu .mega-nav > div, .jms-megamenu .dropdown-menu .mega-nav > li {
    list-style: outside none none;
    margin-left: 0;
}
.jms-megamenu  .caret {
	margin-left:5px;
}
.jms-megamenu .mega-nav li.selected > a{
	color:#333;
}
.jms-megamenu .mega-nav li.selected,
.mega-dropdown-menu.selected,
.mega-col-nav.selected > .mega-inner {
	border:1px solid #07b!important;
}	

.mega-nav .mega > a::after {
    border-color: transparent transparent transparent #555;
    border-style: solid;
    border-width: 5px 0 5px 5px;
    content: " ";
    display: block;
    float: right;
    height: 0;
    margin-right: -15px;
    margin-top: 12px;
    width: 0;
}

.mega-nav > .mega > .dropdown-menu  {
	top:0px;
	left:100%;
	margin:0px;	
}
.jms-megamenu .dropdown-menu .dropdown-menu {
	margin-left:0px;
}
.mega-nav > .mega {
	position:relative;
}
.jms-megamenu .menu-align-justify > .dropdown-menu {
    left: 0;
    margin-left: 0;
    top: auto;
}
.jms-megamenu .menu-align-left > .dropdown-menu {
    left: 0;
}
.jms-megamenu .menu-align-right > .dropdown-menu {
    left: auto;
    right: 0;
}
.jms-megamenu .menu-align-center > .dropdown-menu {
  left: 50%;
  transform: translate(-50%);
  -webkit-transform: translate(-50%);
  -moz-transform: translate(-50%);
  -ms-transform: translate(-50%);
  -o-transform: translate(-50%);
}
.jms-megamenu .mega-nav > .mega.menu-align-left > .dropdown-menu {
  left: 100%;
}
.jms-megamenu .mega-nav > .mega.menu-align-right > .dropdown-menu {
  left: auto;
  right: 100%;
}
.jms-megamenu .menu-align-justify {
  position: static;
}
.jms-megamenu .menu-align-justify > .dropdown-menu {
  left: 0;
  margin-left: 0;
  top: auto;
}
@media (max-width: 991px) {
	#jms-megamenu-container {
		display:none;
	}			
}
@media (min-width: 992px) {
	.responsive #off-canvas-menu {
		display:none;
	}
}