{*
* Project : loyalty
* @author Team EVER
* @copyright Team EVER
* @license   Tous droits réservés / Le droit d'auteur s'applique (All rights reserved / French copyright law applies)
* @link https://www.team-ever.com
*}

<div class="panel">
    <h3><i class="icon icon-smile"></i> {l s='Loyalty' mod='loyalty'}</h3>
    <img id="everlogo" src="{$everloyaltyimage_dir|escape:'htmlall':'UTF-8'}/ever.png" style="max-width: 120px;">
    <p>
        <strong>{l s='Thank you for your confidence :-)' mod='loyalty'}</strong>
    </p>
</div>