.subtotal_title {
	color: #5ad0f7;
}

.cart-title .icon_cart {
	background: #5ad0f7;
}

.banner_text span {
	color: #5ad0f7;
}

.footer_box #social_block a:hover {
	color: #5ad0f7;
}
.sidebar .btn_newsletter i::before {
	background: url(../../img/icon-email-2.png);
}