.subtotal_title {
	color: #e16251;
}

.cart-title .icon_cart {
	background: #e16251;
}

.banner_text span {
	color: #e16251;
}

.footer_box #social_block a:hover {
	color: #e16251;
}
.sidebar .btn_newsletter i::before {
	background: url(../../img/icon-email-4.png);
}