/*button*/
.btn-default:hover, .btn-default:focus, .btn-default:active, .btn-default.active {
  color: #FF7A5F;
}

/*title*/
.addon-title h3::before {
  background: #FF7A5F;
}

/*header top_bar*/
.top_bar {
  background: #FF7A5F;
}

.languages-info .dropdown-menu > li > a:hover {
  color: #FF7A5F;

}

.currency-info .dropdown-menu > li > a:hover {
  color: #FF7A5F;

}

/*search*/
.advsearch_categories:hover {
  background: #FF7A5F;
}

.advsearch_categories:hover::before {
  background: #FF7A5F;
}

.jms_ajax_search .btn_advsearch button {
  background: #FF7A5F;
}

#advsearch_result .item .right-info a:hover {
  color: #FF7A5F;
}

#advsearch_result .item .right-info .price {
  color: #FF7A5F;
}

/*header myaccount*/
.myaccount_title:hover,
.myaccount_box.open .myaccount_title {
  color: #FF7A5F;
}

.myaccount_box .account-list a:hover {
  color: #FF7A5F;
}

.myaccount_box .account-list .button-group a:hover {
  color: #FF7A5F;
}

/*header wishlist*/
.wishlist_box:hover {
  color: #FF7A5F;
}

.exchange-box .exchange:hover {
  color: #FF7A5F;
}

/*megamenu*/
.jms-megamenu .nav > .nav-home > a > i {
  background: #FF7A5F;
}

.jms-megamenu .nav li.open > a,
.jms-megamenu .nav li:not(.nav-home) a:hover {
  color: #FF7A5F;
}

.header-feature-box:hover .text-1 {
  color: #FF7A5F;
}

.header-feature-box .feature-icon {
  background: #FF7A5F;
  border: 1px solid #FF7A5F;
}

.header-feature-box:hover .feature-icon {
  color: #FF7A5F;
}

/*vermegamenu*/
.vermegamenu_box .nav li a:hover {
  color: #FF7A5F;
}

.vermegamenu_box .nav > li.open > a,
.vermegamenu_box .nav > li > a:hover {
  color: #FF7A5F;
}

.vermegamenu_box .nav .dropdown-menu .title a:hover {
  color: #FF7A5F;
}

/*cart*/
.description > a:hover {
  color: #FF7A5F;
}

.price-quantity .price {
  color: #FF7A5F;
}

.remove_link a:hover {
  color: #FF7A5F;
}

.cart-prices .value {
  color: #FF7A5F;
}

#button_order_cart:hover {
  background-color: #FF7A5F;
}

/*footer*/
.footer_box li a:hover {
  color: #FF7A5F;
}

.coppyright span {
  color: #FF7A5F;
}

.back-to-top:hover {
  background: #FF7A5F;
}

/*newsletter*/
.s-newsletter {
  background-color: #FF7A5F;
}

.btn_newsletter:hover {
  color: #FF7A5F;
}

.btn-feature {
  color: #FF7A5F;
}

/*slider*/
.fraction-slider .text-4 span {
  color: #FF7A5F;
}

.btn-slider {
  background: #FF7A5F;
}

.fs-pager-wrapper a:hover::before {
  border: 4px solid #FF7A5F;
}

.fs-pager-wrapper a.active::before {
  border: 4px solid #FF7A5F;
}

/*product*/
.nav-tabs > li > a:focus,
.nav-tabs > li > a:hover {
  color: #FF7A5F; 
}

.nav-tabs > li > a.active {
  color: #FF7A5F; 
}

.nav-tabs > li.active:hover > a,
.nav-tabs > li.active > a {
  color: #FF7A5F; 
}

.preview .label {
  background: #FF7A5F;
}

.category-name a:hover {
  color: #FF7A5F;
}

.product-link:hover {
  color: #FF7A5F; 
}

.price.new {
  color: #FF7A5F;
}

.product-btn.disabled:hover,
.product-btn:hover {
  background: #FF7A5F;
}

.product_action .product-btn:hover {
  color: #FF7A5F;
  background: none;
}

.product-box .owl-controls div.owl-prev:hover, 
.product-box .owl-controls div.owl-next:hover {
  background: #FF7A5F;
}

#blockcart-modal .cart-content .btn-default {
  background: #FF7A5F;
}

/*hotdeal*/
.jms-hotdeal {
  border: 3px solid #FF7A5F;
}

.hot-deals-title h3 {
  background: #FF7A5F;
}

.img-hotdeal .product-btn:hover {
  background: #FF7A5F;
}

/*testimonial*/
#testimonial .owl-dot span:hover {
  background: #FF7A5F;
}

#testimonial .owl-dot.active span {
  background: #FF7A5F;
}

.popuplar-tags-box a:hover {
  background: #FF7A5F;
}

/*product_sidebar*/
.product_sidebar .product-box .product-preview:hover {
  border-color: #FF7A5F;
}

/*blog*/
.post-title a:hover {
  color: #FF7A5F;
}

.blog-box .owl-dot span:hover {
  background: #FF7A5F;
}
.blog-box .owl-dot.active span {
  background: #FF7A5F;
}

/*sidebar category*/
.category-box .categories-wrapper:hover .category-info a {
  color: #FF7A5F;
}

.category-box .owl-dot span:hover {
  background: #FF7A5F;
}
.category-box .owl-dot.active span {
  background: #FF7A5F;
}

/*breadcrumb*/
.breadcrumb li a:hover {
  color: #FF7A5F;
}

.block-categories .category-sub-menu a:hover {
  color: #FF7A5F;
}

/*sidebar filters*/
#search_filters .facet-title::before {
  background: #FF7A5F;
}

#search_filters .facet a:hover {
  color: #FF7A5F;
}

/*sort_by_box*/
.sort_by_box .dropdown-menu a:hover {
  color: #FF7A5F;
}

/*pagination*/
.pagination .page-list .current a:hover,
.pagination .page-list .current a,
.pagination .page-list a:hover {
  background: #FF7A5F !important;
}

/*page category*/
.products-list-in-row .product-btn.disabled, 
.products-list-in-row .product-btn {
   background: #FF7A5F; 
} 

.products-list-in-row .product_action .product-btn:hover {
  color: #FF7A5F;
}

/*page product detail*/
.product-flag.new {
  background: #FF7A5F none repeat scroll 0 0;
}

.product-quantity .addToWishlist:hover {
  color: #FF7A5F;
}

/*popup quickview*/
.quickview .block-social a:hover {
  color: #FF7A5F;
}

/*page blog*/
.blog-categories-box:hover .category-title a {
  color: #FF7A5F;
}

.categorylist .title-blog a:hover {
  color: #FF7A5F;
}

.categorylist .blog-readmore:hover {
  color: #FF7A5F;
}

.comment-heading h5:before {
  background: #FF7A5F;
}

#submitComment {
  background: #FF7A5F;
}

/*checkout*/
#payment-confirmation .btn-default {
  background: #FF7A5F;
}

.cart-box .cart-item .product-name:hover {
  color: #FF7A5F;
}

.cart-box .btn-shopping {
  background: #FF7A5F;
}

.cart-grid .card-block .value {
  color: #FF7A5F;
}

body#checkout section.checkout-step.-complete .step-title {
  background-color: #FF7A5F;
}

#checkout button.continue,
#checkout .btn-default {
  background: #FF7A5F;
}

body .s-newsletter .btn-default:hover {
  color: #FF7A5F !important;
}

#checkout .nav > li > a:focus, 
#checkout .nav > li > a:hover {
  color: #FF7A5F;
}

#order-confirmation .action-buttons .btn-default {
  background: #FF7A5F;
}

.page-my-account #content .links a:hover {
  color: #FF7A5F;
}

#customer-form .form-footer button,
.pasword-form .show-pass button {
  background: #FF7A5F;
}

#addresses .address .btn-default {
  background: #FF7A5F;
}

#addresses .addresses-footer .btn-default {
  background: #FF7A5F;
}

#address .address-form .btn {
  background: #FF7A5F;
}

#history .btn-default {
  background: #FF7A5F;
}

#mywishlist .btn-default {
  background: #FF7A5F;
}

#contact .contact-form .btn {
  background: #FF7A5F;
}

.page-not-found #search_widget .btn-default {
  background: #FF7A5F;
}
.product-quantity .add-to-cart {
    background: #FF7A5F;
    border-color: #FF7A5F;
}
.product-quantity .add-to-cart[disabled]  {
  background: #FF7A5F;
}
#more_info_block .tabs .tab-content li::before {
    background: #FF7A5F;
}

/*//////////////////////////////////////////////////////////////////////*/

.jms-megamenu-wrap a:hover {
  color: #FF7A5F;
}
  .close-button {
    background: #FF7A5F none repeat scroll 0 0;
  }
  #off-canvas-menu .nav > li.open > a,
  #off-canvas-menu  li a:hover {
    background: #FF7A5F;
  }
  .vermegamenu_box .nav > li.btn-continue {
  background: #FF7A5F;
}
.btn-slider:hover {
  color: #fff;
}
.dropdown-menu {
  border-top: 2px solid #FF7A5F;
}
.vermegamenu_box .nav .header-banner .btn {
  color: #FF7A5F;
}
.addon-header-banner-3 .header-banner .text-2 {
  color: #FF7A5F;
}
.btn_banner {
  color: #FF7A5F;
}
.btn_banner:hover {
  color: #f49626;
}
.jms-megamenu .nav .header-banner .btn {
  color: #FF7A5F;
}
.jms-megamenu .nav .header-banner .btn:hover {
    color: #f49626;
}
.btn-feature:hover {
  color: #f49626;
}

.vermegamenu_box .nav .addon-header-banner-2 .header-banner .btn:hover {
  color: #FF7A5F;
}

#authentication .form-footer button {
  background: #FF7A5F;
}
#authentication .form-footer button:hover {
  background: #f49626;
}