.subtotal_title {
	color: #FF7A5F;
}

.cart-title .icon_cart {
	background: #FF7A5F;
}

.banner_text span {
	color: #FF7A5F;
}

.footer_box #social_block a:hover {
	color: #FF7A5F;
}
.sidebar .btn_newsletter i::before {
	background: url(../../img/icon-email-3.png);
}