.s-social #social_block li a {
	color: #e16251 !important;
}

.banner-box-great-camera .btn_banner:hover  {
  color: #e16251;
}

.banner-two-layout .text_1 span {
  	color: #e16251;
}

.banner-mage-sale .text_1 span {
	color: #f49626;
}

.banner-mage-sale .btn_banner:hover {
	color: #e16251;
}

body:not(#index) .subtotal_title {
	color: #e16251;
}
.cart-title .icon_cart::before {
  background: url(../../img/icon-cart-4.png);
}