.subtotal_title {
	color: #29BBD4;
}

.cart-title .icon_cart {
	background: #29BBD4;
}

.banner_text span {
	color: #29BBD4;
}

.footer_box #social_block a:hover {
	color: #29BBD4;
}
.sidebar .btn_newsletter i::before {
	background: url(../../img/icon-email-1.png);
}