#cms #center_column img {

    max-width: 100%;
    width: 100%;
}
.meet-team{
	 margin-top:30px;
 }
 .aboutusPeople {
    margin-top: 12px;
}
.personInfo {
    background: #fff none repeat scroll 0 0;
     padding: 26px 0;
    position: relative;
    text-align: center;
}
.personInfo > h4 {
    font-size: 16px;
    font-family: "Neue Einstellung"; 
    font-weight:600;
}
.personAvatar .img-responsive, .img_aboutus img {
    width: 100%;
}
#cms .page-heading.bottom-indent::after {
    border-bottom: 2px solid #f61853;
    bottom: 10px;
    content: "";
    left: 50%;
    position: absolute;
    transform: translateX(-50%);
    width: 30px;
}