.s-product {

	padding: 45px 0 15px;

}



/*page category*/

body:not(#index) .header_bar {

	/*background: #fff;*/

	position: relative;

	top: 0

}

body:not(#index) .jms-megamenu,

body:not(#index) .header_bar .layout-column {

	background: #333;

}

body:not(#index) .layout-vermegamenu {

	position: relative;

	top: 0;

	max-width: 100%;

	display: none;

}

body:not(#index) .jms-megamenu .nav > li:not(.nav-home) > a {

	color: #fff;

}

.header_bar.navbar-fixed-top {

	position: fixed !important;

}

body:not(#index) .footer_top {

	border-top: 1px solid #eee;

}

body:not(#index) .cart-title .tab-title {

    color: #fff;

}

body:not(#index) .subtotal_title {

	color: #a8cd1b;

}

/*end page category*/



/*page category list*/

/*/////*/

/*end page category list*/



/*page product detail*/

/*/////*/

/*end page product detail*/



/*blog categories*/

/*/////*/

/*end blog categories*/



/*page category*/

/*/////*/

/*end page category*/



#_desktop_user_info .user-info ul{
	display: none;
}
.advsearch_categories{display:none !important;}
#ajax_advsearch{
	padding:12px !important;
	border-radius:0px !important;
}
.jms_ajax_search .btn_advsearch button{
	border-radius: 0px !important;
}

#advsearch_result .item .left-img{
	background: #0003 !important;
	max-height: 85px !important;
	overflow: hidden !important;
	width: 150px !important;
}
#advsearch_result .item{
	border-bottom: 1px solid #d2d2d2 !important;
}