/*footer*/
.footer_top {
	background: #222;
}
.footer_bottom {
	background: #333;
}
.footer_box h3 {
	color: #fff;
}
.footer_box li a {
	color: #999;
}
.footer_contact,
.text_call_now span {
	color: #999;
}
.text_call_now span ~ span {
	color: #fff;
}
.coppyright {
	color: #fff;
}
/*end footer*/

.main-two-layout {
	padding: 75px 0 20px;
}

/*sidebar*/
.sidebar .addon-box {
	margin: 25px 0;
	float: left;
	width: 100%;
}
/*end sidebar*/

/*main*/
.main .addon-box {
	margin: 25px 0 0;
	float: left;
	width: 100%;
}
.main .addon-banner-box,
.main .addon-box.border-box {
	margin-bottom: 30px;
	margin-top: 0;
}
/*end main*/

/*brand*/
.s-brand {
	padding: 14px 0;
}
.brand-item {
	background: none;
}
/*end brand*/

/*newsletter*/
.s-newsletter {
	padding: 20px 0 15px;
}
.newsletter_block::before {
	display: none;
}
.newsletter_title {
	display: none;
}
.newsletter_content {
	width: 100%;
	max-width: 370px;
	padding: 0;
}
.newsletter_content .newsletter-input {
	background: none;
	border: none;
	border-bottom: 2px solid #fff;
	border-radius: 0;
	padding: 0;
	color: #fff;
	line-height: 35px;
	height: 35px;
	font-family: 'Courgette', cursive;
}
.newsletter_content .newsletter-input:hover, 
.newsletter_content .newsletter-input:focus {
	border: none;
	border-bottom: 2px solid #fff;
}
.newsletter_content .newsletter-input::placeholder {
	color: #fff;
}
body .s-newsletter .btn-default {
	right: 0;
	width: auto;
	height: auto;
	color: #fff !important;
	line-height: 35px;
}
body .s-newsletter .btn-default:hover {
	color: #f49626 !important;
}
/*end newsletter*/

/*social*/
.s-social #social_block {
	text-align: right;
	margin-top: 0;
	padding: 0;
	background: none;
}
.s-social #social_block ul {
	margin: 0;
}
.s-social #social_block li {
	margin: 0;
	margin-right: 10px;
}
.s-social #social_block li:last-child {
	margin-right: 0;
}
.s-social #social_block li a {
	display: block;
	width: 40px;
	height: 40px;
	line-height: 40px;
	text-align: center;
	background: #fff !important;
	border-radius: 50%;
	color: #a8cd1b !important;
}
.s-social #social_block li a:hover {
	color: #fff !important;
	background: #f49626 !important;
}
/*end social*/

/*hotdeal*/
.product-hotdeal {
	display: initial;
}
.content-hotdeal,
.img-hotdeal {
	width: 100%;
}
.hot-deals-title h3 {
	top: 15px;
}
.content-hotdeal {
	padding: 25px 30px;
	text-align: center;
}
.countdown-section {
	padding: 0 16px;
}
.countdown-section:first-child {
	padding-left: 0;
}
.countdown-section:last-child {
	padding-right: 0;
}
.content-hotdeal .product-link {
	font-size: 14px;
	line-height: 22px;
}
.content-hotdeal .price.new {
	font-size: 24px;
}
/*end hotdeal*/

/*s-header-feature*/
.s-header-feature {
	border: 1px solid #eee;
	float: left;
	width: 100%;
}
.s-header-feature .header-feature-box {
	width: 100%;
	border-bottom: 1px solid #eee;
	padding: 17px 30px;
}
.s-header-feature .header-feature-box:last-child {
	border-bottom: none;
}
.s-header-feature .header-feature-box p {
	margin: 0;
}
.s-header-feature .header-feature-box .feature-text {
	width: 100%;
	padding: 12px 0 0;
}
/*end s-header-feature*/

/*product*/
.s-product {
	padding: 95px 0 30px;
}
.nav-tabs > li > a:focus, 
.nav-tabs > li > a:hover,
.nav-tabs > li.active:hover > a, 
.nav-tabs > li.active > a {
	color: #000;
}

.main .addon-title {
	float: left;
}
.main .mega-tab, 
.main .s-product .jms-tab {
  float: left;
  padding: 0;
  padding-left: 35px;
}
.main .nav-tabs > li > a,
.main .nav-tabs > li.active:hover > a, 
.main .nav-tabs > li.active > a {
  padding: 0 15px;
}
.main .tab-content {
	clear: both;
	padding-top: 15px;
}

.main .product-box .owl-controls div.owl-prev, 
.main .product-box .owl-controls div.owl-next {
	top: -28px;
}

.product-preview {
	margin-bottom: 0;
}
/*end product*/

.product_sidebar .product-box .product-info {
	padding-right: 0px;
}

/*banner, banner-box-great-camera*/
.banner-box-great-camera {
  color: #fff;
}
.banner-box-great-camera .banner_content {
  left: 120px;
  width: 300px;
  right: auto;
}
.banner-box-great-camera .banner_title {
  color: #fff;
  margin-bottom: 10px;
}
.banner-box-great-camera .btn_banner  {
  color: #fff;
}
.banner-box-great-camera .btn_banner:hover  {
  color: #a8cd1b;
}
/*end banner, banner-box-great-camera*/

/*banner-two-layout*/
.main .addon-banner-two-layout {
	max-width: 450px;
	width: 100%;
	margin: 0 -15px 30px;
}
.addon-banner-two-layout ~ .addon-banner-two-layout {
	float: right;
}
.banner-two-layout {
	padding: 0 15px;
}
.banner-two-layout > a {
	overflow: hidden;
	display: block;
}
.banner-two-layout .banner_content {
	max-width: 145px;
	right: 40px;
	justify-content: flex-start;
	padding-top: 55px;
}
.banner-two-layout .text_1 {
	font-size: 13px;
	color: #000;
}
.banner-two-layout .text_1 span {
	font-size: 24px;
  	color: #a8cd1b;
	font-weight: 700;
	display: block;
	line-height: 28px;
	text-transform: capitalize;
	margin-bottom: 5px;
}
.banner-two-layout .text_2 {
	font-size: 12px;
	padding-right: 15px;
	line-height: 20px;
	margin-bottom: 8px;
}

.banner-mage-sale .banner_content {
	max-width: 155px;
	right: 22px;
}
.banner-mage-sale .text_1 span {
  	color: #f49626;
}
.banner-mage-sale .btn_banner {
	color: #f49626;
}
.banner-mage-sale .btn_banner:hover {
	color: #a8cd1b;
}
/*end banner-two-layout*/

/*banner-lighting-sale*/
.banner-lighting-sale .banner_content {
	padding: 45px 50px;
}
.banner-lighting-sale .banner_content::before {
	border: 3px solid #fff;
}
.banner-lighting-sale .btn_banner {
	color: #fff;
}
.banner-lighting-sale .btn_banner:hover {
	color: #f49626;
}
.banner-lighting-sale .banner_content::before {
	border: 3px solid #fff;
}
/*end banner-lighting-sale*/

/*page category*/
body:not(#index) .header_bar {
	/*background: #fff;*/
	position: relative;
	top: 0
}
body:not(#index) .jms-megamenu,
body:not(#index) .header_bar .layout-column {
	background: #333;
}
body:not(#index) .layout-vermegamenu {
	position: relative;
	top: 0;
	max-width: 100%;
	display: none;
}
body:not(#index) .jms-megamenu .nav > li:not(.nav-home) > a {
	color: #fff;
}
.header_bar.navbar-fixed-top {
	position: fixed !important;
}
body:not(#index) .footer_top {
	border-top: 1px solid #eee;
}
body:not(#index) .cart-title .tab-title {
    color: #fff;
}
body:not(#index) .subtotal_title {
	color: #a8cd1b;
}
/*end page category*/

/*page category list*/
/*/////*/
/*end page category list*/

/*page product detail*/
/*/////*/
/*end page product detail*/