/*header_bar*/
.header_bar {
	position: initial;
	margin: 0 0 30px;
}
.header_bar .container {
	border-radius: 5px;
	background: #333;
}
.header_bar .layout-column {
	background: none;
}
/*end header_bar*/

/*megamenu*/
.jms-megamenu {
	 background: none;
}
.jms-megamenu .nav > li > a {
	color: #fff;
}
/*end megamenu*/

/*vermegamenu*/
.layout-vermegamenu {
	position: initial;
	margin: 0;
	padding: 0 15px;
	max-width: 300px;
}
/*end vermegamenu*/

/*cart*/
.subtotal_title::before,
.cart-title .tab-title {
	color: #fff;
}
.subtotal_title {
	color: #a8cd1b;
}
.cart-title .icon_cart {
	width: 40px;
	height: 40px;
	line-height: 40px;
	text-align: center;
	background: #a8cd1b;
	border-radius: 50%;
	margin-right: 15px;
}
.cart-title .icon_cart::before {
	content: '';
	background: url(../img/icon-product-cart-2.png) no-repeat;
	display: inline-block;
	width: 17px;
	height: 15px;
}
/*end cart*/

/*sidebar*/
.sidebar .addon-box {
	margin: 25px 0;
	float: left;
	width: 100%;
}
/*end sidebar*/

/*main*/
.s-main {
	padding-top: 45px;
}
.s-main .container {
	position: relative;
	padding-bottom: 25px;
}
.s-main .container:before {
	content: '';
	width: calc(100% - 30px);
	height: 1px;
	background: #eee;
	display: block;
	position: absolute;
	bottom: 0;
	left: 15px;
}
.main {
	padding: 0;
}
.main .addon-box {
	margin: 25px 0 0;
	float: left;
	width: 100%;
	padding: 0 15px;
}
.main .left-box {
	width: 66.6666%;
}
.main .right-box {
	width: 33.333%;
}
/*end main*/

/*slider*/
.s-slider {
	max-width: calc(100% - 300px);
	width: 100%;
}
.fs-pager-wrapper {
	padding-left: 66px;
	text-align: left;
}
/*end slider*/

/*banner*/
.banner-two-layout-bottom .addon-box {
	width: calc(50% - 15px);
	float: left;
}
.banner-two-layout-bottom .addon-box:first-child {
	width: 100%;
	float: none;
	margin-bottom: 30px;
}
.banner-two-layout-bottom .addon-box:last-child {
	float: right;
}
.banner_content {
	right: 155px;
	justify-content: flex-start;
	max-width: 174px;
	width: 100%;
	padding-top: 45px;
}
.banner_text {
	font-size: 24px;
	line-height: 36px;
	color: #000;
	text-transform: capitalize;
	font-weight: 700;
	margin-bottom: 7px;
}
.banner_text span {
	display: block;
	font-size: 16px;
	line-height: 28px;
	color: #a8cd1b;
	font-family: 'Courgette', cursive;
	font-weight: 400;
	margin-bottom: 10px;
	text-transform: initial;
}
.banner_text.text_2 {
	font-size: 14px;
	line-height: 28px;
	color: #666;
	font-weight: 400;
}
.btn_banner {
	text-transform: initial;
}

.banner-light .banner_content {
	right: 70px;
}
.banner-light .text_2 {
	padding-right: 10px;
}

.banner-box-bottom .banner_content {
	max-width: 100%;
	padding: 25px 30px;
	right: 0;
}
.banner-box-bottom .btn_banner,
.banner-box-bottom .banner_text.text_2,
.banner-box-bottom .banner_text {
	color: #fff;
}
.banner-box-bottom .btn_banner:hover {
	color: #f49626;
}
.banner-box-bottom-2 .btn_banner {
	margin-top: 33px;
}
/*end banner*/

/*s-header-feature*/
.feature-box {
	float: left;
	padding: 0 0 15px;
}
.s-header-feature {
	float: left;
	width: 100%;
}
.s-header-feature .header-feature-box {
	width: 100%;
	padding: 15px 30px;
	background: #f6f6f6;
}
.s-header-feature .header-feature-box:nth-child(2n) {
	background: #eeeeee;
}
.s-header-feature .header-feature-box p {
	margin: 0;
}
.s-header-feature .header-feature-box .feature-text {
	width: 100%;
	padding: 10px 0 0;
}
/*end s-header-feature*/

/*main banner*/
.main .banner_content {
	padding: 20px 0 0 60px;
	max-width: 100%;
	right: 0;
	left: 0;
	justify-content: center;
}
.main .banner_text {
	margin: 0;
}
.main .banner_text span {
	color: #999;
	margin: 0;
}
.main .banner_text.text_2 {
	font-size: 30px;
	line-height: 36px;
	color: #000;
	font-weight: 700;
	margin-bottom: 20px;
}
.main .banner_text.text_2 span {
	color: #f49626;
	font-family: 'Poppins', sans-serif;
	font-size: 30px;
	line-height: 36px;
	font-weight: 700;
}
/*end main banner*/

/*product*/
.s-product {
	padding: 45px 0 0;
}
.main .product-preview ~ .product-preview {
	margin-top: -20px;
}
.main .product-preview {
	position: relative;
	background: #fff
}
/*end product*/

/*product_sidebar*/
.product_sidebar .product-box .product-preview {
	margin-top: 12px;
}
.product_sidebar .product-box .product-info {
	padding-right: 0;
}
/*end product_sidebar*/

/*hotdeal*/
.product-hotdeal {
	display: initial;
}
.content-hotdeal,
.img-hotdeal {
	width: 100%;
}
.hot-deals-title {
	padding: 15px 0 5px;
}
.hot-deals-title h3 {
	position: initial;
}
.content-hotdeal {
	padding: 25px 17px;
	text-align: center;
}
.countdown-section {
	padding: 0 16px;
}
.countdown-section:first-child {
	padding-left: 0;
}
.countdown-section:last-child {
	padding-right: 0;
}
.content-hotdeal .product-link {
	font-size: 14px;
	line-height: 22px;
}
.content-hotdeal .price.new {
	font-size: 24px;
}
/*end hotdeal*/

/*sidebar newsletter*/
.sidebar .newsletter_block > .block_content {
	float: left;
	width: 100%;
	border: 1px solid #eee;
}
.sidebar .newsletter_block .addon-title {
  display: block;
  margin-bottom: 30px;
}
.sidebar .newsletter_title {
	width: 100%;
	color: #999;
	font-family: 'Poppins', sans-serif;
	font-size: 12px;
	line-height: 18px;
	border-bottom: 1px solid #eee;
	padding: 10px 20px;
}
.sidebar .newsletter_content {
	width: 100%;
	padding: 20px;
}
.sidebar .newsletter_content .newsletter-input {
	border-radius: 0;
	background: #f6f6f6;
	color: #bbb;
	border: 1px solid #f6f6f6;
}
.sidebar .newsletter_content .newsletter-input:hover, 
.sidebar .newsletter_content .newsletter-input:focus {
	border: 1px solid #f6f6f6;
}
.sidebar .btn_newsletter {
	width: 14px;
	height: 15px;
	top: 50%;
	margin-top: -9px;
}
.sidebar .btn_newsletter i:before {
	content: '';
	width: 14px;
	height: 15px;
	background: url(../img/icon-email.png);
	display: block;
	transition: all 400ms;
}
.sidebar .btn_newsletter:hover i:before {
	background: url(../img/icon-email-hover.png);
}
/*end sidebar newsletter*/

/*footer*/
.footer_top {
	background: #f6f6f6;
}
.footer_box .contact-info,
.footer_box li a {
	color: #999;
}
.footer_box #social_block a {
	color: #000;
}
.footer_box #social_block a:hover {
	color: #a8cd1b;
}
.footer_bottom {
	background: #fff;
}
/*end footer*/

body:not(#index) .header_bar {
	margin: 0;
}
body#product .header_bar,
body#category .header_bar {
	margin: 0 0 30px;
}