#product .products .preview img {
    width:100%;
    max-width:none;
}
#product .block-categories {
    margin-bottom: 40px;
    padding-bottom: 23px;
}
/* product detail -Fix in here */
#product .pb-left-column {
    width: 60%;
}
#product .pb-right-column {
    width: 40%;
}
#product .pb-left-column .bx-prev:before {
    content:"\f0d7" !important;
}
#product .pb-left-column .bx-next:before {
    content:"\f0d8" !important;
}
#product .pb-left-column .bx-wrapper .bx-controls-direction a {
    align-items: center;
    background: #ebebeb none repeat scroll 0 0;
    display: flex;
    height: 30px;
    justify-content: center;
    left: 0;
    position: absolute;
    margin: 0;
    width: 100%;
    color:rgba(17,17,17,0.5);
}
/*img left*/
.images-product-detail {
    display: flex;
    flex-direction: row-reverse;
}
.images-product-detail .js-qv-mask {
    width: 130px;
    max-height: 560px;
    padding-right: 30px;
    float: left;
    margin: 0;
}
.images-product-detail .product-images > li {
    display: block;
    margin-bottom: 54px;
}
.scroll-box-arrows {
    display: none;
}
.images-container .flex-box {
    display: flex;
}
.images-container .image-box {
    position: relative;
    cursor: pointer;
    width: calc(100% - 80px);
}
.images-container .thumb-box {
    width: 80px;
    height: 25.1vw;
    padding: 40px 0;
    position: relative;
}
.images-container .thumb-box .arrows.js-arrows {
  display: none;
}
.scroll-box-arrows.scroll {
    width: 130px;
    padding-right: 30px;
    margin: 0;
    position: absolute;
    bottom: 0;
    left: 0;
    /*display: block;*/
    background: #fff;
    z-index: 2;
}
.arrows.js-arrows i, .scroll-box-arrows i {
    display: block;
    width: 45px;
    height: 30px;
    text-align: center;
    line-height: 30px;
    background: #ebebeb;
    cursor: pointer;
    color: #191919;
    float: left;
}
.scroll-box-arrows i.right {
    float: right;
}
.scroll-box-arrows i.left::before {
    content: "\f106";
}
.scroll-box-arrows i.right::before {
    content: "\f107";
}
.arrows.js-arrows i:hover, .scroll-box-arrows i:hover {
    background: #111 none repeat scroll 0 0;
    color: #fff;
}
.scroll-box-arrows i.right {
    right: -16px;
}
.scroll-box-arrows i.left {
    left: -16px;
}
.images-container .thumb-box .js-qv-mask.mask {
  max-height: 100%;
  overflow: hidden;
}
.images-container .image-box .layer {
    position: absolute;
    left: 0;
    top: 0;
    height: 100%;
    width: 100%;
    cursor: pointer;
}
.images-container .js-qv-mask.scroll {
    /*display:block;*/
    margin: 0 auto;
    overflow: hidden;
}
.images-container .js-qv-mask {
    white-space: nowrap;
    
    position:relative;
}
.product-images > li.thumb-container > .thumb {
    cursor: pointer;
    width: 100%;
}
.images-container .js-qv-mask {
    white-space: nowrap;
    margin-top:20px;
}
/* ------ */
.related-product {
    float:left;
    width:100%;
}

/**/
.pb-right-column > h2 {
    font-size: 14px;
    font-weight: 700;
    text-transform: capitalize;
    letter-spacing: 0;
    padding-bottom: 15px;
    margin: 7px 0 0;
    color: #000;
}
#product .product-cover .layer {
    position: absolute;
    right: 25px;
    top: auto;
    cursor: pointer;
    font-size: 20px;
    bottom: 0;
}
#product .product-prices.content_price .price.new {
    font-size: 24px;
}
#product .pb-right-column .content_prices .shipping_cost {
    line-height: 32px; 
    margin-left:15px;
}
.product-information .product-desc {
    color: rgba(0,0,0,0.8);
    display: inline-block;
    width: 100%;
    line-height: 1.87;
    font-family: 'Poppins', sans-serif;
    margin-bottom: 25px;
}
.product-variants .control-label {
    color: #191919;
    display: inline-block;
    font-size: 15px;
    font-weight: 400;
    height: 20px;
    line-height: 20px;
    margin-right: 10px;
    float: left;
    margin-bottom: 0;
    padding-bottom: 0;
    text-transform: capitalize;
}
.product-actions .product-variants {
    margin-top: 15px;
    float: left;
    width: 100%;
    margin-bottom: 30px;
}
.product-variants-item .input-color {
    cursor: pointer;
    height: 20px;
    margin: 0;
    opacity: 0;
    position: absolute;
    width: 20px;
    z-index: 2;
}
.product-variants-item .color {
    display: block;
    border: 1px solid #ebebeb;
    position: relative;
    height: 14px;
    width: 14px;
    border-radius: 50%;
    top: 4px;
    z-index: 1;
}
#product .input-color:checked + span, 
#product .input-radio:checked + span, 
.quickview .input-color:checked + span, 
.quickview .input-radio:checked + span {
    border: 3px solid #ebebeb;
    height: 20px;
    width: 20px;
    top: 0;
}
.product-variants-item ul {
    margin-bottom: 0;
}
.product-variants-item ul li {
    cursor: pointer;
    display: inline-block;
    float: left;
    margin-right: 15px;
    position: relative;
}
.product-variants-item.color {
    align-items: center;
    display: flex;
    margin-bottom: 15px;
}
.product-variants-item:last-child {
    margin-bottom:0;
}
#product-availability i {
    font-size: 12px;
    color: #ff0000;
    border-radius: 3px;
    position: relative;
    top: 2px;
}
#product-availability i.product-available {
    color: #fff;
    background: #A0D468;
}
#product-availability i.fa-ban{
    color:#f23534 ;
}
#product-availability i.fa-exclamation-circle {
    color: #FF9900;
}
#product-availability {
    padding: 0 15px;
    line-height: 45px;
    position: relative;
    top: 0;
    font-size: 13px;
    color: #5f5f5f;
    letter-spacing: 0;
}
#product .social-wrap {
    border-bottom: 1px solid #ebebeb;
    border-top: 1px solid #ebebeb;
    margin-bottom: 25px;
    padding: 4px 0;
}
#product .quantity-box .option {
    display: inline-block;
    float: left;
    margin-bottom: 15px;
    margin-right: 35px;
}
.product-quantity .add-to-cart {
    padding: 3px 25px;
    margin-left: 25px;
    position: relative;
    border-radius: 30px;
    background: #a8cd1b;
    border-color: #a8cd1b;
    color: #fff;
    font-size: 12px;
    font-family: Arial;
}
.product-quantity .add-to-cart[disabled]  {
  background: #a8cd1b;
}
.product-quantity .add-to-cart[disabled]:hover  {
  background: #f49626;;
  cursor: no-drop;
}
#product .add .icon-handbag {
    vertical-align: middle;
}
.product-quantity .add-to-cart .text {
  font-size: 16px;
  font-weight: 500;
}
.product-quantity .add-to-cart .icon-basket {
  margin-right: 5px;
  position: relative;
  top: 4px;
}
.quantity-box #quantity_wanted_p {
    border: 1px solid #e1e1e1;
    float: left;
}
.product-quantity .btn-touchspin {
    background: #ebebeb none repeat scroll 0 0;
    border: 0 none;
    cursor: pointer;
    font-size: 20px;
    font-weight: 400;
    height: 40px;
    padding: 0 6px;
    width: 25px;
    border-radius: 0;
    color: #757575;
    line-height: 40px;
}
.product-quantity .bootstrap-touchspin-up {
    position: absolute !important;
    top: 0 !important;
}
.product-quantity .bootstrap-touchspin-up:before {
    content: "+";
}
.product-minimal-quantity {
    margin-bottom:0;
}
.product-quantity .bootstrap-touchspin-down {
    left: 0 !important;
    position: absolute !important;
    top: 0 !important;
}
.product-quantity .bootstrap-touchspin-down:before {
    content: "-";
}
#product .quantity-box .input-group-addon .fa {
    font-size: 12px;
}
.product-quantity input#quantity_wanted {
    background: #ebebeb none repeat scroll 0 0;
    color: #010101;
    font-size: 16px;
    font-weight: 400;
    height: 40px;
    text-align: center;
    width: 37px;
    margin: 0 5px;
    margin-left: 30px;
    border: none;
}
.product-quantity {
    display: block;
}
.product-quantity .qty {
    align-items: center;
    display: flex;
    float: left;
    height: 45px;
    margin-right:25px;
}
.product-price.h5.has-discount {
    display: none;
}
#block-reassurance {
    width:100%;
    clear:both;
}
#block-reassurance .block-reassurance-item {
    display:flex;
    align-items:center;
    width:100%;
}
#block-reassurance .block-reassurance-item span.h6 {
    font-size:13px;
    color:rgba(17,17,17,0.6);
    width:calc(100% - 35px);
    padding:0 10px;
    line-height:20px;
    margin:0;
}
#block-reassurance .block-reassurance-item .reassurance-img {
    width:35px;
}
#block-reassurance .block-reassurance-item .reassurance-img img {
    width:100%;
}
#block-reassurance  ul li {
    margin-bottom:15px;
}
#block-reassurance  ul li:last-child {
    margin-bottom:0;
}

.pb-right-column .block-social ul li a {
    font-size:0;
}
.pb-right-column .block-social ul li.facebook a:before {
    content:"\f09a";
}
.pb-right-column .block-social ul li.twitter a:before {
    content:"\f099";
}
.pb-right-column .block-social ul li.rss a:before {
    content:"\f09e";
}
.pb-right-column .block-social ul li.youtube a:before {
    content:"\f167";
}
.pb-right-column .block-social ul li.googleplus a:before {
    content:"\f0d5";
}
.pb-right-column .block-social ul li.pinterest a:before {
    content:"\f0d2";
}
.pb-right-column .block-social ul li.vimeo a:before {
    content:"\f27d";
}
.pb-right-column .block-social ul li.instagram a:before {
    content:"\f16d";
}
.pb-right-column .block-social ul li a:before {
    font-family:"FontAweSome";
    font-size:14px;
    color:#b9b9b9;
}
.pb-right-column .block-social .social-title{
    color: #9e9e9e;
    margin-right:10px;
}
.pb-right-column .block-social ul li {
    background: rgba(0, 0, 0, 0) none repeat scroll 0 0;
    border: medium none;
    display: inline-block;
    float: left;
    height: 40px;
    margin-right: 10px;
    min-width: 40px;
    text-align:center;
    line-height:40px;
}
.pb-right-column .block-social {
    border-bottom: 1px solid #e1e1e1;
    border-top: 1px solid #e1e1e1;
    width:100%;
    display:flex;
    margin-top:30px;
    margin-bottom:30px;
    display:none;
}
#product #block-reassurance{
    display:none;
}
.pb-right-column .block-social ul {
    margin:0;
}
.pb-right-column .product-add-to-cart {
    margin-bottom: 15px;
    clear: both;
}
.other-info {
    padding-top: 17px;
    border-top: 1px solid #ebebeb;
    margin-bottom: 17px;
}
.other-info > li label {
    font-size: 13px;
    font-weight: 300;
    margin-bottom: 0;
    position: relative;
}
.other-info > li span {
    font-size: 13px;
}
.add .text_cart_p {
    padding-left: 7px;
    vertical-align: middle;
}
.text_cart_p{
    color: #ffffff;
    font-size: 18px;
    letter-spacing: 0;
    line-height: 30px;
    text-transform: capitalize;
} 
/*=======================================
=            More info block            =
=======================================*/
/*=======================================
=            More info block            =
=======================================*/
#more_info_block {
    margin-top: 60px;
    margin-bottom: 55px;
}
#more_info_block .tabs li{
    padding:0 5px 0 0;
    display: block;
}
#more_info_block .tabs li a {
    font-weight: 400;
    padding: 0 30px !important;
    line-height: 48px;
    font-size: 14px;
     text-transform: capitalize; 
    letter-spacing: 0;
    border: 1px solid #eee;
    color: #bbb;
}
#more_info_block .tabs li a:hover,
#more_info_block .nav-tabs > li > a.active {
    background: #f6f6f6;
    color: #000;
}
/*#more_info_block .tabs li a::after {
    color: #111;
    content: "\f105";
    font-family: "FontAwesome";
    font-size: 16px;
    font-weight: 400;
    line-height: 21px;
    padding-left: 17px;
    position: absolute;
    top: 50%;
    margin-top: -10px;
    transition: all 400ms;
}*/
/*#more_info_block .tabs li a.active::after {
    content: "\f107";
}*/
/*#more_info_block .tabs li a:focus:after,
#more_info_block .tabs li a:hover:after {
    color: #a8cd1b;
}*/
#more_info_block .label{
    font-size:16px;
    padding:0;
}
#more_info_block .tabs .tab-content {
    padding-top: 2px;
    margin-bottom: 9px;
    line-height: 22px;
    border: 1px solid #eee;
    padding: 55px 60px 20px;
    float: left;
    width: 100%;
}
#more_info_block .tabs .tab-content li {
    /*color: #999;*/
    padding: 0 0 0 10px;
    position: relative;
}
#more_info_block .tabs .tab-content li::before {
    content: '';
    width: 5px;
    height: 5px;
    border-radius: 50%;
    background: #a8cd1b;
    display: inline-block;
    position: absolute;
    left: 0;
    top: 8px;
}
.tabs-product-details #tab-content {
    display: none;
}
#more_info_block #product-details {
    float: left;
    width: 100%;
}
.tabs-product-details .active ~ #tab-content {
    display: block;
}

#product-details .product-features h3{
    color:#111;
    font-size:15px;
    margin:0;
}
.product-features {
    padding-top: 15px;
}
.product-features > dl.data-sheet {
    /*align-items: flex-start;
    display: flex;
    flex-wrap: wrap;*/
    margin: 0 auto;
    width: 100%;
}
.product-features > dl.data-sheet dd.value, .product-features > dl.data-sheet dt.name {
    /*background: #ebebeb none repeat scroll 0 0;*/
    flex: 1 0 15%;
    font-weight: 400;
    /*margin-bottom: 10px;*/
    /*margin-right: 0.625rem;*/
    min-height: 60px;
    line-height: 60px;
    padding: 0;
    word-break: break-all;
    float: left;
}
.product-features > dl.data-sheet dt.name {
    width: 40%;
    border-bottom: 1px solid #eee;
}
.product-features > dl.data-sheet dd.value {
    width: 60%;
    border-bottom: 1px solid #eee;
}
/*====================================================
/* image modal*/

#product-modal .modal-body .left img{
    width: 100%;
}
.thumbnails.js-thumbnails{
    height: 100%;
    left: calc(100% + 20px);
    position: absolute;
    top: 0;
    padding:40px 0;
    width: 120px;
}
.thumbnails.js-thumbnails .js-modal-mask {
    height: 100%;
    overflow: hidden;
}
.thumbnails.js-thumbnails .image-box{
    height: 100%;
    overflow: hidden;
}
.thumbnails.js-thumbnails .arrows.js-modal-arrows .material-icons{
    position:absolute;
    width:100%;
    font-size:25px;
    color:#fff;
    display:block;
    text-align:center;
    cursor:pointer;
}
.thumbnails.js-thumbnails .arrows.js-modal-arrows .arrow-up {
    top:0;
}
.thumbnails.js-thumbnails .arrows.js-modal-arrows .arrow-down {
    bottom:0;
}
#product  .selector_before {
    background: rgba(0, 0, 0, 0) none repeat scroll 0 center;
    border-bottom: 2px solid #f0f0f0;
    overflow: hidden;
    position: relative;
    width: 170px;
}

#product .selector_before::before {
    border-right: 0 none;
    border-top: 0 none;
    content: "";
    font-family: "fontawesome";
    font-weight: 700;
    height: 32px;
    line-height: 37px;
    position: absolute;
    right: 0;
    text-align: center;
    top: -4px;
    width: 25px;
    z-index: 2;
    font-size:13px;
}

#product .clearfix.product-variants-item {
    align-items: center;
    display: flex;
    float: left;
    margin-right: 75px;
}
#product .clearfix.product-variants-item:last-child {
    margin-right: 0;
}
.product-actions .product-variants select {
    background: rgba(0, 0, 0, 0) none repeat scroll 0 0;
    border: 0 none;
    color: #111;
    cursor: pointer;
    display: block;
    font-size: 12px;
    font-weight: 500;
    height: 30px;
    min-width: 160px;
    overflow: hidden;
    padding: 0;
    text-overflow: ellipsis;
    white-space: nowrap;
    width: 100%;
    border-bottom: 1px solid #f0f0f0;
}
.product-variants-item.size {
    width: 120px !important;
    overflow: hidden;
    position: relative;
}
.product-variants-item.size::before {
    border-right: 0 none;
    border-top: 0 none;
    content: "";
    font-family: "fontawesome";
    font-weight: 700;
    height: 32px;
    line-height: 37px;
    position: absolute;
    right: 0;
    text-align: center;
    top: -4px;
    width: 25px;
    z-index: -1;
}
.product-variants-item.color {
    position: relative;
    top: 4px;
}

/*Active fiter*/

#js-active-search-filters > ul li {
    background: #fff none repeat scroll 0 0;
    display: inline-block;
    line-height: 31px;
    margin-right: 20px;
    padding: 0 10px;
    vertical-align: middle;
}
#js-active-search-filters > ul {
    align-items: center;
    display: flex;
    margin-bottom: 0;
}
.active_filters {
    align-items: center;
    background: #f3f4f7 none repeat scroll 0 0;
    display: flex;
    margin-top: 50px;
    padding: 15px;
}
.active_filters h3 {
    font-size: 17px;
    font-weight: 600;
    padding-bottom: 0;
    padding-right: 15px;
}
.filter-block .js-search-link i {
    font-size: 15px;
    line-height: 33px;
    margin-left: 5px;
}
.preview.flexbox img {
    width: 90px !important;
}
/*product Layout*/
#product .product-layout-3columns .pb-left-column {
    width: 33.33%;
}
#product .product-layout-3columns .pb-right-column{
    width:66.67%;
}
.column-right{
    border: 1px solid #f2f3f4;
    padding: 0 20px 20px;
}
#product .product-layout-3columns .product-quantity .qty{
    display:block;
    float:none;
}
#product .product-layout-3columns .product-quantity .add-to-cart {
    display: block;
    margin-left: 0;
    margin-top: 20px;
}
/* Responsive */
@media(max-width:1366px) {
    .images-container .thumb-box {
        height: 34.1vw;
    }
}
@media(max-width:1199px){
    
    .images-container .product-images > li.thumb-container > .thumb {
        width: 90px;
    }
}
@media(max-width:991px){
    .share-group {
        margin-top: 15px;
    }
    .images-container .thumb-box {
      height: 47.1vw;
    }
    .images-container .product-images > li.thumb-container > .thumb {
        width: 8.5vw;
    }
    #product #left-column.page-column, #category #left-column.page-column{
        padding-right:15px;
    }
    /*product layer*/
    #product .product-layout-3columns .pb-left-column {
        width: 100%;
    }
    #product .product-layout-3columns .pb-right-column {
        width: 100%;
        margin-top:30px;
    }
    .column_left {
        padding-left: 0;
    }
}
@media(max-width:767px) {
    .product-accessories .accessories-carousel .owl-stage-outer, .featured-products .propular-carousel .owl-stage-outer {
        padding-bottom: 20px;
    }
    #product .product-cover .layer {
        right: 40px;
    }
    #more_info_block {
      margin: 40px 0 30px;
    }
    .bg-image-area {
      margin-bottom: 50px;
    }
    .pb-right-column h1 {
      font-size: 20px;
    }
    #product .page-content {
        padding: 0;
    }
    #product .modal {
        padding-right:0 !important;
    }
    .row.product-detail {
        margin-left: 0;
        margin-right: 0;
    }
    #product .pb-right-column, #product .pb-left-column {
      width: 100%;
      padding:0;
    }
    .images-container .product-images > li.thumb-container > .thumb {
        width: 17vw;
    }
    #product .pb-right-column{
        margin-top:25px;
    }
    /*Product Layout*/
    .column-right{
        margin-top:30px;
    }
}
@media(max-width:481px){
    .images-container .thumb-box {
        height: 92.1vw;
    }
    .images-container .product-images > li.thumb-container > .thumb {
        width: 20.5vw;
    }
    #more_info_block .tabs li a.active{
        border-bottom:0 !important;
    }
}
@media(max-width:320px){
    .images-container .thumb-box {
        height: 86.1vw;
        width:54px;
    }
    .images-container .image-box {
      width: calc(100% - 54px);
    }
    
    #product #block-reassurance .block-reassurance-item img {
        margin-right: 5px;
    }
    #block-reassurance .block-reassurance-item span {
        font-size: 10px;
    }
    #product .page-content {
        padding: 0;
    }
    #product #block-reassurance .block-reassurance-item span {
        font-size: 12px;
    }
    .images-container .product-images > li.thumb-container > .thumb {
        width: 26vw;
    }
}
