@media (max-width: 1229px) {
	/*/////*/

	/*page category*/
	/*/////*/
	/*end page category*/

	/*page category list*/
	/*/////*/
	/*end page category list*/

	/*page product detail*/
	/*/////*/
	/*end page product detail*/
}

@media (max-width: 1199px) {
	.sidebar {
		padding: 0;
	}
	.sidebar .addon-box {
		width: 33.3333%;
		float: left;
		padding: 0 15px;
	}

	.banner-lighting-sale {
		max-width: 270px;
	}

	/*page category*/
	body:not(#index) .layout-vermegamenu {
		clear: both;
	}
	/*end page category*/

	/*page category list*/
	/*/////*/
	/*end page category list*/

	/*page product detail*/
	/*/////*/
	/*end page product detail*/
}

@media (max-width: 991px) {
	.sidebar .addon-box {
		width: 100%;
	}

	.main {
		clear: both;
	}

	.product-hotdeal {
		display: flex;
	}
	.img-hotdeal {
		width: 415px;
	}
	.content-hotdeal {
		width: calc(100% - 415px);
		padding: 0 30px 25px;
	}

	.s-header-feature {
		display: flex;
	}
	.s-header-feature .header-feature-box {
		width: 33.3333%;
		border: none;
		border-right: 1px solid #eee;
	}
	.s-header-feature .header-feature-box:last-child {
		border-right: none;
	}

	.main .mega-tab, 
	.main .s-product .jms-tab {
		padding: 0;
		padding-top: 15px;
	}

	.main .addon-banner-two-layout {
		margin: 5px auto 25px;
		float: none !important;
		clear: both;
	}
	.banner-lighting-sale {
		margin: 0 auto;
	}

	.newsletter_content, .newsletter_title {
		margin: 0 auto 15px;
		float: none;
	}
	.s-social #social_block {
		text-align: center;
		padding: 10px 0;
	}

	/*page category*/
	/*/////*/
	/*end page category*/

	/*page category list*/
	/*/////*/
	/*end page category list*/

	/*page product detail*/
	/*/////*/
	/*end page product detail*/
}

@media (max-width: 767px) {
	.s-product {
		background: #f6f6f6 !important;
	}

	.s-header-feature {
		display: initial;
	}
	.s-header-feature .header-feature-box {
		width: 100%;
		border: none;
		border-bottom: 1px solid #eee;
		padding: 22px 30px 16px;
	}
	.s-header-feature .header-feature-box:last-child {
		border-bottom: none;
	}

	.img-hotdeal, .content-hotdeal {
		width: 50%;
	}
}

@media (max-width: 639px) {
	.product-hotdeal {
		display: initial;
	}
	.img-hotdeal, .content-hotdeal {
		width: 100%;
	}
	.content-hotdeal {
		padding: 25px 30px;
	}

	.main .nav-tabs > li > a, 
	.main .nav-tabs > li.active:hover > a, 
	.main .nav-tabs > li.active > a {
		 padding: 5px 0; 
	}

	.banner-box-great-camera .banner_title {
		font-size: 18px;
	}

	/*page category*/
	/*/////*/
	/*end page category*/

	/*page category list*/
	/*/////*/
	/*end page category list*/

	/*page product detail*/
	/*/////*/
	/*end page product detail*/
}

@media (max-width: 479px) {
	.banner-box-great-camera .banner_content {
		left: 0;
		width: 100%;
		right: auto;
	}
	.banner-two-layout .banner_content {
		max-width: 100%;
		right: 0;
	}

	/*page category*/
	/*/////*/
	/*end page category*/

	/*page category list*/
	/*/////*/
	/*end page category list*/

	/*page product detail*/
	/*/////*/
	/*end page product detail*/
}