@media (max-width: 1229px) {

}

@media (max-width: 1199px) {
	.banner-box-bottom .banner_text {
		font-size: 16px;
		line-height: 30px;
	}
	.banner-box-bottom .banner_text.text_2 {
		font-size: 14px;
		line-height: 28px;
	}

	.main .addon-box {
		width: 100% !important;
	}
	.main .right-box {
		width: 50% !important;
	}
}

@media (max-width: 991px) {
	.jms-megamenu-wrap a {
		color: #fff;
	}

	.s-slider {
		max-width: 100%;
		margin-top: 15px;
	}

	.s-banner .layout-column {
		clear: both;
	}
	.banner-box {
		max-width: 570px;
		margin: 0 auto;
	}
	.banner-box-bottom {
		max-width: 270px;
		margin-bottom: 30px;
	}
	.main .banner-box {
		max-width: 100%;
	}

	.img-hotdeal, .content-hotdeal {
		width: 50%;
	}
}

@media (max-width: 767px) {
	.header_bar {
		padding: 0 15px;
	}
}

@media (max-width: 639px) {
	.s-banner .banner_content {
		padding-top: 45px;
	}
	.s-banner .banner-box-bottom .banner_content {
		padding-top: 25px;
	}

	.main .right-box {
		width: 100% !important;
	}

	.img-hotdeal, .content-hotdeal {
		width: 100%;
	}

	.banner-two-layout-bottom .addon-box {
		width: 100%;
	}

	.main .banner_content {
		padding: 0;
	}
}

@media (max-width: 479px) {
	.s-banner .banner_content {
		max-width: 100%;
	}
	.banner-light .banner_content {
		right: 0;
	}

	.main .banner_text.text_2 {
		font-size: 24px;
	}
}