@media (max-width: 1229px) {
	.container {
	    width: 1170px;
	}

	.fs-pager-wrapper {
		padding-right: 0;
	}

	.footer_contact {
		width: 330px;
	}

	/*page category*/
	/*/////*/
	/*end page category*/

	/*page category list*/
	.products-list-in-row .preview {
		max-width: 30%;
	}
	.products-list-in-row .product-info {
		max-width: 70%;
	}
	/*end page category list*/

	/*page product detail*/
	/*/////*/
	/*end page product detail*/

	/*blog categories*/
	/*/////*/
	/*end blog categories*/

	/*page category*/
	/*/////*/
	/*end page category*/

	/*blog post single*/
	/*/////*/
	/*end blog post single*/

	/*page check out*/
	/*/////*/
	/*end page check out*/

	/*page my-account*/
	/*/////*/
	/*end page my-account*/

	/*information*/
	/*/////*/
	/*end information*/

	/*addresses*/
	/*/////*/
	/*end addresses*/

	/*order history and details*/
	/*/////*/
	/*end order history and details*/

	/*credtit slips*/
	/*/////*/
	/*end credtit slips*/

	/*my wishlist*/
	/*/////*/
	/*end my wishlist*/
}

@media (max-width: 1199px) {
	.container {
		width: 970px !important;
	}

	.menu_top_bar .addon-box {
		margin-left: 15px;
	}
	.menu_top_bar .addon-box:first-child {
		margin-left: 0;
	}
	.contact-info li {
		margin-left: 15px;
	}
	.contact-info li:first-child {
		margin-left: 0;
	}

	.navbar-fixed-top .container {
		padding: 0 15px;
	}
	.jms-megamenu .nav > li {
		padding: 0 19px;
	}
	.jms-megamenu .dropdown-menu.md-center {
		left: -250px;
	}

	.layout-vermegamenu {
		max-width: 970px;
		margin-left: -485px;
	}

	.fraction-slider .text {
		max-width: 190px;
	}
	.slider_btn {
		margin-top: 10px;
	}
	.btn-slider {
		line-height: 40px;
		padding: 0 35px;
	}

	.jms-hotdeal {
		margin-bottom: 25px;
	}

	.s-product-banner .s-banner {
		width: 300px;
	}
	.s-product-banner .s-product {
		width: calc(100% - 300px);
	}

	.footer_box {
		width: 25%;
		float: left;
	}
	.footer_contact {
		width: 100%;
		margin-bottom: 25px;
	}
	.footer_contact .addon-box {
		padding-right: 0;
	}
	.footer_contact .contact-info li {
		display: block;
		margin-left: 0;
	}

	/*page category*/
	#product_list .item {
		width: 50%;
	}
	/*end page category*/

	/*page category list*/
	/*/////*/
	/*end page category list*/

	/*page product detail*/
	#more_info_block .product-description .content-description .content-img {
		width: 45%;
	}
	#more_info_block .product-description .content-description .content-text {
		width: 55%;
	}
	/*end page product detail*/

	/*blog categories*/
	/*/////*/
	/*end blog categories*/

	/*page category*/
	/*/////*/
	/*end page category*/

	/*blog post single*/
	/*/////*/
	/*end blog post single*/

	/*page check out*/
	.cart-grid .cart-grid-right {
		padding-top: 55px;
	}
	/*end page check out*/

	/*page my-account*/
	/*/////*/
	/*end page my-account*/

	/*information*/
	/*/////*/
	/*end information*/

	/*addresses*/
	/*/////*/
	/*end addresses*/

	/*order history and details*/
	/*/////*/
	/*end order history and details*/

	/*credtit slips*/
	/*/////*/
	/*end credtit slips*/
	
	/*my wishlist*/
	/*/////*/
	/*end my wishlist*/
}

@media (max-width: 991px) {
	.container {
		width: 750px !important;
	}

	.top_bar {
		padding: 10px 0;
		line-height: 30px;
		text-align: center;
	}
	.menu_top_bar {
		text-align: center;
	}

	.logo_box {
		text-align: center;
	}

	.categories_search {
		padding: 30px 15px;
	}

	.header_bar {
		position: relative;
		top: 0;
	}

	.jms-megamenu-wrap {
		width: 40px;
		height: 40px;
		position: absolute;
		left: 5px;
		top: 16px;
	}
	.jms-megamenu-wrap a {
		text-align: center;
		display: block;
		width: 100%;
		height: 100%;
		line-height: 40px;
		font-size: 30px;
		cursor: pointer;
	}
	body:not(#index) .jms-megamenu-wrap a {
		color: #fff;
	}
	.jms-megamenu-wrap a:hover {
		color: #a8cd1b;
	}
	.menu-wrap {
		background: #fff;
		z-index: 999999;
		overflow-x: hidden;
		max-width: 270px;
	}
	.close-button {
		background: #a8cd1b none repeat scroll 0 0;
		color: #fff;
		margin: 0 0 30px;
	}
	#off-canvas-menu {
		background: #fff;
	}
	#off-canvas-menu .nav > li.open > a,
	#off-canvas-menu  li a:hover {
		color: #fff;
		background: #a8cd1b;
	}
	#off-canvas-menu  li a:focus {
		color: #000;
		background: #fff;
	}

	.layout-vermegamenu {
		position: initial;
		width: 100%;
		max-width: 750px;
		clear: both;
		padding: 0 15px;
		margin: 0 auto;
		display: none;
	}
	.jms-vermegamenu .nav > li > .dropdown-menu {
		transform: translateY(0px);
		width: 100% !important;
		padding: 0;
		left: 0;
	}
	.jms-vermegamenu .nav > li.open > .dropdown-menu {
		position: initial;
	}

	.vermegamenu_mobile {
		padding: 0 15px !important;
		clear: both;
		position: relative;
		top: 20px;
	}
	#mobile-vermegamenu {
		display: block;
		max-width: 100%;
		padding-bottom: 10px;
	}
	#mobile-vermegamenu > ul {
		padding: 10px 0 0;
		border-radius: 0 0 5px 5px;
		height: 470px;
		overflow-y: scroll;
	}
	#mobile-vermegamenu .nav .dropdown-menu li {
		padding: 5px 45px;
	}
	#mobile-vermegamenu .nav > li.btn-continue {
		display: none;
	}
	#mobile-vermegamenu li > a em {
		float:right;
		font-size:15px;
		width:20px;
		height:20px;
		line-height:20px;
		margin-top:8px;
		text-align:center;
	}

	.fraction-slider .fs_obj {
		left: 50px !important;
	}
	.fraction-slider .text {
		max-width: 170px;
	}
	.fraction-slider .text-4 span {
		font-size: 20px;
	}
	.slider_btn {
		margin-top: 15px;
	}
	.btn-slider {
		line-height: 30px;
		padding: 0 25px;
		font-size: 12px;
	}

	.s-banner-box .banner-box {
		max-width: 370px;
		margin: 15px auto;
	}

	.mega-tab, .s-product .jms-tab {
		width: 100%;
		padding-top: 15px;
	}

	.s-product-banner .mega-tab, 
	.s-product-banner .s-product .jms-tab {
		padding: 0;
		padding-top: 15px;
	}

	.newsletter_content,
	.newsletter_title {
		width: 100%;
	}

	/*page category*/
	#product #left-column.page-column, 
	#category #left-column.page-column {
		padding: 0 15px;
	}
	/*end page category*/

	/*page category list*/
	/*/////*/
	/*end page category list*/

	/*page product detail*/
	#product .pb-right-column, 
	#product .pb-left-column {
		width: 100%;
		margin: 20px 0;
	}
	#more_info_block .tabs .tab-content {
		padding: 20px 30px;
	}
	#more_info_block .product-description .content-description {
		display: block;
	}
	#more_info_block .product-description .content-description .content-img {
		width: 100%;
	}
	#more_info_block .product-description .content-description .content-text {
		width: 100%;
	}
	/*end page product detail*/

	/*blog categories*/
	/*/////*/
	/*end blog categories*/

	/*page category*/
	/*/////*/
	/*end page category*/

	/*blog post single*/
	/*/////*/
	/*end blog post single*/

	/*page check out*/
	/*/////*/
	/*end page check out*/

	/*page my-account*/
	/*/////*/
	/*end page my-account*/

	/*information*/
	/*/////*/
	/*end information*/

	/*addresses*/
	/*/////*/
	/*end addresses*/

	/*order history and details*/
	#history .btn-default {
		margin: 5px 0;
		display: inline-block;
	}
	/*end order history and details*/

	/*credtit slips*/
	/*/////*/
	/*end credtit slips*/
	
	/*my wishlist*/
	/*/////*/
	/*end my wishlist*/
}

@media (max-width: 767px) {
	.container {
		width: 100% !important;
	}	

	.layout-vermegamenu {
		max-width: calc(100% - 30px);
		padding: 0 15px;
		left: 0;
		margin-top: 15px;
	}

	.header-banner {
		position: initial;
	}

	.fraction-slider .text {
		max-width: 140px;
	}
	.fraction-slider .fs_obj {
		margin-top: -15px;
	}
	.fraction-slider .fs_obj.slider_btn {
		margin-top: -3px;
	}
	.fraction-slider .text-4 span {
		font-size: 14px;
	}
	.btn-slider {
		line-height: 22px;
		padding: 0 10px;
		font-size: 10px;
	}
	.fs-pager-wrapper {
		bottom: 0;
	}

	.img-hotdeal,
	.content-hotdeal {
		width: 50%;
	}
	.content-hotdeal .product-link {
		white-space: nowrap;
		overflow: hidden;
		text-overflow: ellipsis;
	}

	.s-feature {
		background: #f6f6f6 !important;
	}

	.s-product-banner .s-banner,
	.s-product-banner .s-product {
		width: 100%;
	}
	.s-product-banner .banner-box {
		max-width: 270px;
		margin: 0 auto;
	}
	.s-product-banner #social_block {
		text-align: center;
	}

	.footer_box:not(.footer_contact) {
		width: 50%;
		margin: 15px 0;
	}
	.footer_contact {
		margin-bottom: 15px;
	}

	.coppyright,
	.footer-peyment-method {
		text-align: center;
		padding: 5px 0;
	}

	/*page category*/
	#search_filter_controls {
		display: none;
	}
	.sort_by_box .inlude_sort_by {
		text-align: center;
	}
	.view-list-mode {
		text-align: center;
	}
	.pagination {
		text-align: center;
	}
	.pagination .page-list {
		text-align: center;
		padding-right: 0;
		padding-top: 10px;
	}
	.pagination .page-list a.previous, 
	.pagination .page-list a.next {
		position: initial;
	}
	.view-list-mode .pagination {
		width: 100% !important;
		margin: 3px 0 0;
	}
	.view-list-mode .pagination .left-pagination {
		width: 100% !important;
	}
	/*end page category*/

	/*page category list*/
	.products-list-in-row .product-info > div {
		width: 100%;
	}
	.products-list-in-row .product_button, 
	#product_list.products-list-in-row .product_action {
		top: 0;
		width: auto !important;
		text-align: left;
		float: left !important;
		margin: 0;
	}
	.products-list-in-row .product_button {
		margin-right: 25px;
	}
	#product_list .product_action .product-btn {
		width: auto;
	}
	.products-list-in-row .product-info > div.content_price {
	  text-align: left;
	}
	#product_list.products-list-in-row .product_action {
		border: none;
	}
	/*end page category list*/

	/*page category list small*/
	.products-list-in-row-small .product_button, 
	#product_list.products-list-in-row-small .product_action {
		position: relative;
		top: 0;
		padding: 0;
		width: auto;
	}
	/*end page category list small*/

	/*page product detail*/
	/*#product-details {
		width: 100%;
		overflow: scroll;
		padding-bottom: 5px;
	}
	.more-info-product-details {
		width: 660px;
	}*/
	.images-product-detail {
		display: initial;
	}
	.images-product-detail .product-cover {
		width: 100%;
		position: relative;
	}
	.images-container .js-qv-mask.scroll {
		width: 100%;
		padding: 0;
	}
	.images-product-detail .js-qv-mask li {
		float: left;
		margin: 15px 15px 0;
	}
	.images-product-detail .js-qv-mask li:first-child {
		margin-top: 15px;
	}
	/*end page product detail*/

	/*blog categories*/
	.categories-list {
		padding: 0 15px;
	}
	/*end blog categories*/

	/*page category*/
	.categorylist {
		padding: 0 15px;
	}
	.blog-info-bottom {
		padding: 10px 20px;
	}
	.categorylist .post-meta {
		float: left;
		width: 100%;
		line-height: 25px
	}
	.categorylist .blog-readmore {
		float: left;
		line-height: 25px
	}
	/*end page category*/

	/*blog post single*/
	#comments,
	.single-blog .social-sharing,
	.blog-post-single {
		padding: 0 15px;
	}
	/*end blog post single*/

	/*page check out*/
	.cart-box .product-line-grid {
		display: block;
	}
	.cart-box .product-line-grid > div {
		width: 100%;
	}
	#order-confirmation .order-confirmation-table .order-line > div {
	  width: 100%;
	  border-bottom: 1px solid #eee;
	  padding: 10px;
	}
	#order-confirmation .order-confirmation-table .order-line > div:last-child {
		border: none;
	}
	/*end page check out*/

	/*page my-account*/
	#my-account .card-block {
		padding: 0 15px;
	}
	/*end page my-account*/

	/*information*/
	#identity .card-block {
		padding: 0 15px;
	}
	/*end information*/

	/*addresses*/
	#address .address-form {
		padding: 0 15px;
	}
	/*end addresses*/

	/*order history and details*/
	#history .card-block {
		padding: 0 15px;
	}
	.table-history {
		overflow: scroll;
	}
	/*end order history and details*/

	/*credtit slips*/
	/*/////*/
	/*end credtit slips*/
	
	/*my wishlist*/
	#block-history {
		overflow: scroll;
	}
	#mywishlist #block-history table {
		width: 650px;
	}
	/*end my wishlist*/

	/*page about*/
	.page-content.page-cms .cms-box .page-subheading, 
	.page-content.page-cms .cms-block .page-subheading {
		padding: 15px 0;
	}
	/*end page about*/	
}

@media (max-width: 639px) {
	.categories_search {
		width: 100%;
		padding: 0 15px;
	}
	.jms_ajax_search .btn_advsearch, 
	.jms_ajax_search .btn_advsearch button {
		width: 100%;
		display: block;
		margin-top: 10px;
		position: initial;
	}
	#ajax_advsearch {
		padding-right: 15px;
	}

	.acc_wish {
		text-align: center;
		width: 100%;
	}
	.myaccount_box {
		position: relative;
	}

	.product-hotdeal {
		 display: initial; 
	}
	.img-hotdeal, 
	.content-hotdeal {
		width: 100%;
	}
	.content-hotdeal {
		padding: 25px 30px;
	}

	.nav-tabs > li {
		width: 100%;
	}
	.nav-tabs > li.active:hover > a, 
	.nav-tabs > li.active > a,
	.nav-tabs > li:hover > a, 
	.nav-tabs > li > a {
		padding: 5px 0;
	}

	.s-product-banner .nav-tabs > li > a, 
	.s-product-banner .nav-tabs > li.active:hover > a, 
	.s-product-banner .nav-tabs > li.active > a {
		padding: 5px 0;
	}

	.banner_content {
		width: 100%;
		padding: 0 15px;
		right: 0;
		text-align: center;
	}

	.banner-full-width .banner_title {
		font-size: 15px;
		padding: 0;
	}
	.banner-full-width .banner_text {
		font-size: 12px;
	}
	.banner-full-width .btn_banner {
		font-size: 12px;
	}
	.banner-full-width .banner-box img {
		height: 150px;
	}

	/*page category*/
	#product_list .item {
		width: 100%;
		max-width: 425px;
		float: none;
		margin: 0 auto;
	}
	/*end page category*/

	/*page category list*/
	.products-list-in-row .product-preview-box {
		display: initial;
	}
	.products-list-in-row .product-info,
	.products-list-in-row .preview {
		max-width: 100%;
	}
	#product_list.products-list-in-row .item {
		margin: 0 auto;
		clear: both;
		padding: 0 5px;
	}
	#product_list .product-preview {
		padding: 15px;
	}
	.products-list-in-row .product-info {
		padding: 0;
	}
	/*end page category list*/

	/*page product detail*/
	/*/////*/
	/*end page product detail*/

	/*blog categories*/
	.categories-list .cat-item {
		width: 100%;
	}
	/*end blog categories*/

	/*page category*/
	/*/////*/
	/*end page category*/

	/*blog post single*/
	/*/////*/
	/*end blog post single*/

	/*page check out*/
	/*/////*/
	/*end page check out*/

	/*page my-account*/
	/*/////*/
	/*end page my-account*/

	/*information*/
	/*/////*/
	/*end information*/

	/*addresses*/
	/*/////*/
	/*end addresses*/

	/*order history and details*/
	/*/////*/
	/*end order history and details*/

	/*credtit slips*/
	/*/////*/
	/*end credtit slips*/
	
	/*my wishlist*/
	/*/////*/
	/*end my wishlist*/
}

@media (max-width: 479px) {
	.countdown-section {
		padding: 0 15px;
	}
	.countdown-section:first-child {
		padding-left: 0;
	}
	.countdown-section:last-child {
		padding-right: 0;
	}

	.banner_title {
		font-size: 25px;
	}

	.product-name {
		min-height: 35px;
		width: 100%;
	}
	.product-link {
		white-space: nowrap;
		overflow: hidden;
		text-overflow: ellipsis;
	}

	.s-best-seller .content_price {
		position: initial;
	}

	.footer_box {
		width: 100% !important;
	}

	/*page category*/
	/*/////*/
	/*end page category*/

	/*page category list*/
	/*/////*/
	/*end page category list*/

	/*page product detail*/
	/*/////*/
	/*end page product detail*/

	/*blog categories*/
	/*/////*/
	/*end blog categories*/

	/*page category*/
	/*/////*/
	/*end page category*/

	/*blog post single*/
	/*/////*/
	/*end blog post single*/

	/*page check out*/
	body#checkout section.checkout-step .content {
		padding: 0 20px 20px;
	}
	/*end page check out*/

	/*page my-account*/
	/*/////*/
	/*end page my-account*/

	/*information*/
	/*/////*/
	/*end information*/

	/*addresses*/
	/*/////*/
	/*end addresses*/

	/*order history and details*/
	/*/////*/
	/*end order history and details*/

	/*credtit slips*/
	/*/////*/
	/*end credtit slips*/
	
	/*my wishlist*/
	/*/////*/
	/*end my wishlist*/
}