.header_top {
    padding: 35px 70px 35px 47px;
}
.headertop_right .addon-box{
	float:left;
}
.headertop_right .addon-box:first-child{
	margin-left:0;
}
.top_menu_second {
    float: left;
    height: 100%;
    margin-left: 0;
    opacity: 1;
    position: fixed;
    top: 0;
    transform: translateX(-370px);
	left:0;
	right:auto !important;
}
.open .top_menu_second {
    transform: translateX(0px);
}
#open-button::before {
    left: 30px;
    top: 49px !important;
}
.home_3 .jms-megamenu .mega-nav .mega > a::after {
    right: 20px;
    left: auto;
     -ms-transform: rotate(0deg); 
    -webkit-transform: rotate(0deg); 
    transform: rotate(0deg);
}
.home_3 .jms-megamenu .mega-nav li > a:hover {
    padding-right:0px;
	padding-left:35px;
}
.home_3 .mega-col-nav.col-sm-3 {
    padding-left: 40px;
    padding-right: 0px !important;
}
.home_3 .jms-megamenu .nav > .item-fullwidth .mega-nav li > a:hover {
    padding-left: 15px;
	padding-right:0px;
}
.dropdown-menu.mega-dropdown-menu {
    left: 100% !important;
	right:auto !important;
}
.jms-megamenu .menu-align-center > .dropdown-menu {
    left: 100% !important;
    right: auto !important;
    transform: translate(0%) !important;
}
.pe.pe-7s-close {
    left: 56px;
    right: auto;
}
.text_menu {
    padding: 8px 51px 8px 0;
}
#cart_block .shoppingcart-box {
    left: 0 !important;
    right: auto;
    top: 69px;
}
.menu-wrap {
    left: -300px !important;
    right: auto !important;
	transition: left 0.4s cubic-bezier(0.7, 0, 0.3, 1) 0s !important;
}
.show-menu .menu-wrap {
    left: 0 !important;
    right: auto !important;
	transition: left 0.4s cubic-bezier(0.7, 0, 0.3, 1) 0s !important;
}
.news_content .form-group .newsletter-input{
	border-radius:0 4px 4px 0;
}
.newsletter-btn.buttonh2{
	 transform: rotate(180deg);
}
footer .blog-item .img-responsive {
    margin-left: 24px;
    margin-right: 0;
}
.foooter_bottom_right p{
	text-align:left;
}
.blog_footer_center {
    padding-left: 55px;
    padding-right: 15px
}
.contact_footer {
    padding-left: 83px;
    padding-right: 15px;
}
.foooter_bottom_left li {
    padding-left: 40px;
    padding-right: 0;
}
.foooter_bottom_right p{
	text-align:left;
}
@media(max-width: 1199px){
	#ajax_search{
		top:-7px !important;
	}
	.header_top {
		padding: 35px 15px 35px 58px;
	}
}
@media(max-width: 767px){
   .foooter_bottom_right p{
	text-align:right;
}
}
@media(max-width: 481px){
   #open-button::before {
		top: 46px !important;
	}
	#ajax_search {
		top: 12px !important;
		right: 121px !important;
	}
}