.top_menu_second {
    right: 0;
    transform: translateX(370px);
}
.open .top_menu_second {
    transform: translateX(0px);
}
.pe.pe-7s-close {
    left: 56px;
    right: auto;
}
.text_menu{
	padding-right:51px;
	padding-left:0;
}
.dropdown-menu.mega-dropdown-menu {
    right:  100%;
}
.top_group .addon-box{
	float:left;
}
#cart_block .shoppingcart-box{
	 left: -43px;
    right: auto;	
}
.btn-group.open .dropdown-menu::before {
    left: 49px;
    right: auto;
}
.block_c_right .newsletter-input {
    border-radius: 0 30px 30px 0;
}
.newsletter-btn.buttonh1{
	 border-radius: 30px 0 0 30px;
}
.footer_bottom .addon-box > p{
	text-align:left;
}
.contact-info {
    padding-left: 59px;
    padding-right: 0;
}
@media (max-width: 991px){
   .top_menu_second .layout-column.menu_hidden {
		position: absolute;
		right: 0;
		width: 73px;
   }	
}
@media (max-width:767px){
.footer_bottom .addon-box > p {
    text-align: right;
}
}
@media (max-width:670px){
	#index.home_1 .owl-theme .owl-controls div.owl-next {
		right: 43% !important;
	}
	#index.home_1 .owl-theme .owl-controls div.owl-prev {
		right: 52% !important;
	}
}
@media (max-width:481px){
   .top_group {
		float: left;
	}
	#index.home_1 .owl-theme .owl-controls div.owl-next {
		right: 38% !important;
	}
}


