#stores .page-stores {
	margin: 0 auto; 
	border:1px solid #ebebeb;
	box-shadow:2px 2px 11px 0 rgba(0, 0, 0, 0.1);
	padding:30px 20px;
 }
  #stores .page-stores .store-item {
    padding-left: 0.75rem;
    padding-right: 0.75rem; }
#stores .page-stores .store-picture img {
    width: 100%; 
}
  #stores .page-stores .store-item-container {
    display: -webkit-box;
    display: -moz-box;
    display: box;
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flexbox;
    -js-display: flex;
    display: flex;
    -webkit-box-pack: distribute;
    -moz-box-pack: distribute;
    box-pack: distribute;
    -webkit-justify-content: space-around;
    -moz-justify-content: space-around;
    -ms-justify-content: space-around;
    -o-justify-content: space-around;
    justify-content: space-around;
    -ms-flex-pack: distribute;
    -webkit-box-align: center;
    -moz-box-align: center;
    box-align: center;
    -webkit-align-items: center;
    -moz-align-items: center;
    -ms-align-items: center;
    -o-align-items: center;
    align-items: center;
    -ms-flex-align: center;
    padding: 1.875rem 0; }
    #stores .page-stores .store-item-container ul {
      margin-bottom: 0;
      font-size: 14px; }
    #stores .page-stores .store-item-container .divide-left {
      border-left: #ebebeb 1px solid; }
      #stores .page-stores .store-item-container .divide-left tr {
        height: 1.5625rem; }
      #stores .page-stores .store-item-container .divide-left td {
        padding-left: 0.375rem; }
#stores .page-stores .store-item-container .divide-left th {
	font-size: 14px;	
text-align:left;	
}
    #stores .page-stores .store-item-container .store-description {
      font-size: 1.3rem; }
  #stores .page-stores .store-item-footer {
    margin-top: 0.5rem;
    padding-top: 0.5rem;
    display: -webkit-box;
    display: -moz-box;
    display: box;
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flexbox;
    -js-display: flex;
    display: flex;
    -webkit-box-pack: distribute;
    -moz-box-pack: distribute;
    box-pack: distribute;
    -webkit-justify-content: space-around;
    -moz-justify-content: space-around;
    -ms-justify-content: space-around;
    -o-justify-content: space-around;
    justify-content: space-around;
    -ms-flex-pack: distribute; }
    #stores .page-stores .store-item-footer.divide-top {
      border-top: #ebebeb 1px solid; }
    #stores .page-stores .store-item-footer div:first-child {
      -webkit-box-flex: 0;
      -moz-box-flex: 0;
      box-flex: 0;
      -webkit-flex: 0 0 65%;
      -moz-flex: 0 0 65%;
      -ms-flex: 0 0 65%;
      flex: 0 0 65%; }
    #stores .page-stores .store-item-footer i.material-icons {
      margin-right: 0.625rem;
      color: #acaaa6;
      font-size: 1rem; }
    #stores .page-stores .store-item-footer li {
      margin-bottom: 0.625rem; }
#stores .store-item-container .divide-left table{
	width:100%;
}
#stores .store-item-container .divide-left table td {
	text-align:right;
}
@media(max-width:767px) {
	#stores .page-stores .store-item-container .divide-left {
		border-left:none;
	}
}
@media(max-width:480px){
	#stores .page-stores .store-item-container {
		display:block;
	}
	#stores .page-stores .store-item-container .divide-left {
		border-left: none;
	}
	#stores .page-stores {
		padding:0;
	}
}