#lrp-admin-order-summary-panel dl {
  display: flex;
  flex-direction: row; }
#lrp-admin-order-summary-panel dl.disabled {
  opacity: 0.5; }
#lrp-admin-order-summary-panel .lrp-box {
  background-color: #fff;
  border: 4px solid #f3f3f3;
  border-right: 2px solid #f3f3f3 !important;
  border-left: 2px solid #f3f3f3 !important;
  padding: 20px; }

.lrp-pagination a.page.selected {
  font-weight: bold;
  text-underline: none;
  color: #888; }

/*# sourceMappingURL=admin.css.map */
