/*
* 	Owl Carousel Owl Demo Theme 
*	v1.3.2
*/
.owl-slider .item {
	position:relative;
}

.owl-theme .owl-controls {
	margin-top: 10px;
	text-align: center;
}

.owl-slider-outer.slider-listing .owl-controls {
	left:5px;
	bottom:5%;
	top:auto;
	padding-bottom:0;
}
.owl-theme .owl-controls{
	text-align: center;
}
/* Styling Next and Prev buttons */
.owl-controls.disabled {
    display: none;
}
.owl-controls {
    display: block;
}
.owl-theme .owl-controls .owl-nav div {
	display:inline-block;
	zoom:1;
	width: 9px;
	*display:inline
}
.owl-slider-outer .owl-slider-next:hover, .owl-slider-outer .owl-slider-prev:hover, .owl-theme .owl-controls  div:hover {	
}
.owl-theme .owl-controls  div.disabled {	
	cursor:default;	
}
.owl-theme .owl-controls  div.owl-prev, .owl-theme .owl-controls  div.owl-next {
    background-position: 50% 50%;
    border-radius: 50%;
    display: inline-block;
    font-size: 0;
    height: 35px;
    margin: 0 2px;
    position: absolute;
    text-align: center;
    top: -37px;
    width: 35px;
	cursor:pointer;
	z-index:2;
}

.owl-theme .owl-controls  div.owl-prev {
    background: #f3f4f6 url("../../../../assets/img/icon/prev.png") no-repeat scroll 54% 50%;
    right: 39px;
}
.owl-theme .owl-controls  div.owl-next {
    background: #f3f4f6 url("../../../../assets/img/icon/next.png") no-repeat scroll 54% 50%;
    margin-right: 0;
    right: -2px;
}
.owl-theme .owl-controls div.owl-prev:hover {
    background: #111 url("../../../../assets/img/icon/prevac.png") no-repeat scroll 48% 50%;
}
.owl-theme .owl-controls div.owl-next:hover {
    background: #111 url("../../../../assets/img/icon/nextac.png") no-repeat scroll 54% 50%;
}
.owl-dot > span {
    background: #9d9e9f;
    display: inline-block;
    height: 10px;
	cursor: pointer;
    width: 10px;
}
.owl-dots {
    position:absolute;
    width:100%;	
	bottom:23px;
	text-align:center;
	bottom:10px;
}
.owl-dots .owl-dot {
    display: inline-block;
    margin: 0 3px;
}
.owl-dot.active span {
    background: #000000 none repeat scroll 0 0;
}
/* Clickable class fix problem with hover on touch devices */
/* Use it for non-touch hover action */
.owl-theme .owl-controls.clickable  div:hover {
	filter:Alpha(Opacity=100);
	opacity:1;
	text-decoration:none
}
/* Styling Pagination*/
.owl-theme .owl-controls{
	margin-bottom:0;
	margin-top:0;
}
.owl-theme .owl-controls .owl-page {
	display:inline-block;
	zoom:1;
*display:inline
}
.owl-theme .owl-controls .owl-page span {
	background: rgba(0, 0, 0, 0) none repeat scroll 0 0;
    border: 1px solid #ddd;
    display: block;
    height: 7px;
    margin: 2.5px;
    width: 30px;
	border-radius: 0;
}
.owl-theme .owl-controls .owl-page.active span, .owl-theme .owl-controls.clickable .owl-page:hover span {
	filter:Alpha(Opacity=100);
	background: #000 none repeat scroll 0 0;
    border-color: #000;
    opacity: 1;
}
/* If PaginationNumbers is true */
.owl-theme .owl-controls .owl-page span.owl-numbers {
	height:auto;
	width:auto;
	color:#FFF;
	padding:2px 10px;
	font-size:0.92em;
	-webkit-border-radius:30px;
	-moz-border-radius:30px;
	border-radius:30px
}
/* preloading images */
.owl-item.loading {
	min-height:150px;
	background:url(../images/AjaxLoader.gif) no-repeat center center
}
/* unique Next and Prev buttons */
.owl-theme.product-widgets .owl-controls {
	position:absolute;
	margin:0;
	padding:0 5px 0 0;
	right:0;
	top:0;
	background:#fff
}
