<form action="?controller=AdminSetaridocumente&token={$token}" method="post">
	<table width="450" cellpadding="0" cellspacing="0">
	    <tr bgcolor="#007BFF" style="color:#ffffff; font-weight:bold;">
	          <td width="150" align="left">Denumire</td>
	          <td width="150" align="left">Serie</td>
	          <td width="150" align="left">Urm. Nr. Curent</td>
	    </tr>
	    <tr>
	          <td>Factura</td>
	          <td><input type="text" name="serief" value="{$serief}"/></td>
	          <td><input type="text" name="urcf" value="{$urcf}"/></td>
	    </tr>
	     <tr>
	          <td>Chitanta</td>
	          <td><input type="text" name="seriec" value="{$seriec}"/></td>
	          <td><input type="text" name="urcc" value="{$urcc}"/></td>
	    </tr>
	     <tr>
	          <td>Nir</td>
	          <td><input type="text" name="serien" value="{$serien}"/></td>
	          <td><input type="text" name="urcn" value="{$urcn}"/></td>
	    </tr>
	</table><br /><br /><br />
	<table width="300" cellpadding="0" cellspacing="0">
	    <tr bgcolor="#007BFF" style="color:#ffffff; font-weight:bold;">
	          <td width="150" align="left">TVA</td>
	          <td width="150" align="left">Valoare</td>
	    </tr>
	     <tr>
	          <td width="150">TVA1</td>
	          <td width="150"><input type="text" name="tva1" value="{$tva1}" size="5"/></td>
	    </tr>
	    <tr>
	          <td width="150">TVA2</td>
	          <td width="150"><input type="text" name="tva2" value="{$tva2}" size="5"/></td>
	    </tr>
	    <tr><td colspan="2">&nbsp;</td></tr>
	    <tr><td colspan="2">&nbsp;</td></tr>
	    <tr><td colspan="2">&nbsp;</td></tr>
	    <tr><td colspan="2" align="right"><input type="submit" name="actualizare" value="ACTUALIZEAZA" /></td></tr>
	</table>

	</form>