<style type="text/css">
   td{
    padding:5px 10px;
    border: 1px solid #dddddd;
  }
</style>
<table width="1100" cellpadding="1" cellspacing="1">
    <tr bgcolor="#7AB2FF" style="font-size: 12px;">
       <td width="100">Nr. Curent</td>
       <td width="250">Furnizor</td>
       <td width="100">Tip document</td>
       <td width="150">Seria</td>
       <td width="150">Nr.</td>
       <td width="100">Data document</td>
       <td width="150">Valoare</td>
       <td width="50">&nbsp;</td>
       <td width="50">&nbsp;</td>
    </tr>
    <tr><td colspan="8">&nbsp;</td></tr>
     
    {assign var=i value=0}
    {foreach $niruri as $nir}
    {assign var=i value=$i+1}

    
    
    <tr bgcolor="#E4E9F0"   onmouseover="this.style.backgroundColor = 'white';" onmouseout="this.style.backgroundColor = '#E4E9F0';">
       <td width="100">{$i}</td>
       <td width="250">{$nir.denumire}</td>
       <td width="100">Factura</td>
       <td width="150">{$nir.serie}</td>
       <td width="150">{$nir.nr_factura}</td>
       <td width="100">{$nir.data_nir}</td>
       <td width="150">{$nir.valoare}</td>
       <td width="50"><input type="button" value="Print" onclick="location.href='/printareposta/printare_nir.php?nir={$nir.id}'"/></td>
       <td align="center"><a href="?controller=AdminNiruri&token={$token}&dels={$nir.id}" onclick="return confirm('Vrei sa stegi NIR-ul si produsele aferente?')">x</a></td>
    </tr>
    {/foreach}
</table>
<br /><br />
<input type="button" value="Nir-ul Deschis" onclick="location.href='?controller=Adminnirnou'" />