/*
* 	Owl Carousel Owl Demo Theme 
*	v1.3.2
*/
.owl-slider .item {
	position:relative
}

.owl-theme .owl-controls {
	margin: 0;
    position: absolute;
    top: 50%;
    width: 100%;
    z-index: 2;
}
.main-slider .owl-slider-outer .owl-controls {
	top:50%!important;
	left:1%!important;
	right:auto;
	width:98%
}
.owl-slider-outer.slider-listing .owl-controls {
	left:5px;
	bottom:5%;
	top:auto;
	padding-bottom:0
}
.owl-theme .owl-controls .owl-nav {
	text-align: center;
}
/* Styling Next and Prev buttons */
.owl-theme .owl-controls .owl-nav div {
	display:inline-block;
	width:50px;
	zoom:1;
	width: 30px;
	*display:inline
}
.owl-slider-outer .owl-slider-next:hover, .owl-slider-outer .owl-slider-prev:hover, .owl-theme .owl-controls .owl-nav div:hover {	
}
.owl-theme .owl-controls .owl-nav div.disabled {	
	cursor:default;	
}
.owl-theme .owl-controls .owl-nav div {
	display: inline-block;
	margin: 0 5px;	
	font-size: 0;	
	position: relative;
}

.owl-theme .owl-controls .owl-nav div.owl-prev,
.owl-theme .owl-controls .owl-nav div.owl-next {
	border: none;
	display: inline-block;
	width: 60px;
    height: 40px;
	text-align: center;
	background: #888;
	position: absolute;
}

.owl-theme .owl-controls .owl-nav div.owl-prev {
	left: -20px;
}

.owl-theme .owl-controls .owl-nav div.owl-next {
	right: -20px;
}

.owl-theme .owl-controls .owl-nav div.owl-prev:before,
.owl-theme .owl-controls .owl-nav div.owl-next:before {
	color: #fff;
    font-family: "FontAweSome";
    font-size: 18px;
    line-height: 40px;
}

.owl-theme .owl-controls .owl-nav div.owl-prev:before {	
	content: "\f177";
}

.owl-theme .owl-controls .owl-nav div.owl-next:before {	
	content: "\f178";
}

.owl-theme .owl-controls .owl-nav div.owl-next:hover:before,
.owl-theme .owl-controls .owl-nav div.owl-prev:hover:before{
	color: #fff;	
}

.owl-theme .owl-controls .owl-nav div.owl-next:hover,
.owl-theme .owl-controls .owl-nav div.owl-prev:hover {
	background: #373737;
} 

.owl-theme .owl-controls .owl-nav div.owl-next:hover {
	background-position: right center !important;
}
.owl-theme .owl-controls .owl-nav div.owl-prev:hover {
	background-position: left center !important;
}

.thumb-carousel.owl-carousel .owl-wrapper{
	margin-top: 30px;
}
.main-slider .owl-slider-outer .owl-controls .owl-nav div.owl-next {
	float:right
}
.main-slider .owl-theme .owl-controls .owl-nav div.disabled {
	opacity:1!important;
	filter:alpha(opacity=100);
	cursor: pointer;

}
.main-slider .owl-slider-outer .owl-slider-next:hover, .main-slider .owl-slider-outer .owl-slider-prev:hover, .main-slider .owl-theme .owl-controls .owl-nav div:hover {
	color:#ee3b27 !important
}
.owl-dot > span {
    background: #cdcdcd;
    border-radius: 50%;
    display: inline-block;
    height: 10px;
    width: 10px;
}
.owl-dots {
    text-align: center;    
}
.owl-dots .owl-dot {
    display: inline-block;
    margin: 0 3px;
}

.owl-dot.active span {
    background: #ffa800;
}
/* Clickable class fix problem with hover on touch devices */
/* Use it for non-touch hover action */
.owl-theme .owl-controls.clickable .owl-nav div:hover {
	filter:Alpha(Opacity=100);
	opacity:1;
	text-decoration:none
}
/* Styling Pagination*/
.owl-theme .owl-controls .owl-page {
	display:inline-block;
	zoom:1;
*display:inline
}
.owl-theme .owl-controls .owl-page span {
	background: rgba(0, 0, 0, 0) none repeat scroll 0 0;
    border: 1px solid #ddd;
    display: block;
    height: 7px;
    margin: 2.5px;
    width: 30px;
	border-radius: 0;
}
.owl-theme .owl-controls .owl-page.active span, .owl-theme .owl-controls.clickable .owl-page:hover span {
	filter:Alpha(Opacity=100);
	background: #000 none repeat scroll 0 0;
    border-color: #000;
    opacity: 1;
}
/* If PaginationNumbers is true */
.owl-theme .owl-controls .owl-page span.owl-numbers {
	height:auto;
	width:auto;
	color:#FFF;
	padding:2px 10px;
	font-size:0.92em;
	-webkit-border-radius:30px;
	-moz-border-radius:30px;
	border-radius:30px
}
/* preloading images */
.owl-item.loading {
	min-height:150px;
	background:url(../images/AjaxLoader.gif) no-repeat center center
}
/* unique Next and Prev buttons */
.owl-theme.product-widgets .owl-controls {
	position:absolute;
	margin:0;
	padding:0 5px 0 0;
	right:0;
	top:0;
	background:#fff
}
