<table width="100%" align="left">
<td><td align="left">
<input type="button" value="Orders" onclick="location.href='?controller=AdminOrders'"/>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
<input type="button" value="Setari" onclick="location.href='?controller=AdminSetaridocumente'"/>
</td></tr></table>

<table cellpadding="1" cellspacing="0" width="100%" align="left">
       <tr bgcolor="#0066BA" style="color:#ffffff;">
           <td width="50" align="left">Nr.Crt.</td>
           <td width="90" align="left">Tip document</td>
           <td width="300" align="left">Client</td>
           <td width="100" align="left">Serie</td>
           <td width="90" align="left">Nr</td>
           <td width="90" align="left">Data</td>
           <td width="90" align="right">Valoare</td>
           <td width="90" align="right">Incasat</td>
           <td width="50" align="right">Edit</td>
           <td width="50" align="right"></td>
       </tr>
     	
     	{$facturichitante}  
     
</table>
<table width="100%" align="left">
<td><td align="left">
<input type="button" value="Orders" onclick="location.href='?controller=AdminOrders'"/>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
<input type="button" value="Setari" onclick="location.href='?controller=AdminSetaridocumente'"/>
</td></tr></table>