#mobile-vermegamenu .nav > li {
	float:left;
	width:100%;
}
#mobile-vermegamenu .jms-vermegamenu {
	box-shadow: none;
	text-align: left;
}
#mobile-vermegamenu .open > .dropdown-menu {
	position:static;
	box-shadow:none;
	border:0px;
	width:100%;
}
#mobile-vermegamenu #jms-megamenu > li > a {
	text-transform:uppercase;	
}

#mobile-vermegamenu img{
	max-width:100%;
	margin-bottom:10px;
}