{extends file='page.tpl'}
{block name='page_content'}

<h1 class="testimonialss">Marturii clienti</h1>
<a href="/testimoniale?add_new=true" class="add_marturie"></a>
<div style="clear:both"></div> 
{foreach $testimonials as $testimonial}  
{$tsm="|+|"|explode:$testimonial.comment}
<div class="testimonialBody1 back">"{$tsm[1]}"</div>
<span class="tstm_author1 back">{$testimonial.author}({$testimonial.office})</span>
<br class="clearBoth">
<span class="tstm_date1 back">{$testimonial.posttime|date_format}</span>
<br class="clearBoth">
<hr>
{/foreach}

{/block}